In [2]:
import pandas as pd
import numpy as np

In [3]:
file_path = './handledData3.csv'  # 根据你的实际文件路径修改
df = pd.read_csv(file_path, delimiter=';', decimal=',')
df

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2004-03-10 00:00:00,18:00:00,2.6,1360,150,11.88172349,1045.5,166,1056.25,113,1692,1267.5,13.5999999,48.87500095,0.757753825
1,2004-03-10 00:00:00,19:00:00,2,1292.25,112,9.39716489,954.75,103,1173.75,92,1558.75,972.25,13.29999995,47.69999981,0.725487449
2,2004-03-10 00:00:00,20:00:00,2.2,1402,88,8.997816871,939.25,131,1140,114,1554.5,1074,11.9000001,53.97500038,0.750239067
3,2004-03-10 00:00:00,21:00:00,2.2,1375.5,80,9.228796421,948.25,172,1092,122,1583.75,1203.25,11,60,0.786712533
4,2004-03-10 00:00:00,22:00:00,1.6,1272.25,51,6.518223669,835.5,131,1205,116,1490,1110,11.1500001,59.57500076,0.788794232
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9356,2005-04-04 00:00:00,14:00:00,2.2,1070.75,NaN,11.9320599,1047.25,265.2,654,167.7,1128.5,816,28.50000048,13.125,0.502803706
9357,NaN,NaN,2.2,1070.75,-149.7634015,11.9320599,1047.25,265.2,654,167.7,1128.5,816,28.50000048,13.125,0.502803706
9358,NaN,NaN,2.2,1070.75,-99.52680309,11.9320599,1047.25,265.2,654,167.7,1128.5,816,28.50000048,13.125,0.502803706
9359,NaN,NaN,2.2,1070.75,-49.29020464,11.9320599,1047.25,265.2,654,167.7,1128.5,816,28.50000048,13.125,0.502803706
9360,NaN,NaN,2.2,1070.75,0.946393816,11.9320599,1047.25,265.2,654,167.7,1128.5,816,28.50000048,13.125,0.502803706

In [5]:
columns_to_drop = ['Unnamed: 15', 'Unnamed: 16']
df.drop(columns=columns_to_drop, errors='ignore', inplace=True)
df

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2004-03-10 00:00:00,18:00:00,2.6,1360,150,11.88172349,1045.5,166,1056.25,113,1692,1267.5,13.5999999,48.87500095,0.757753825
1,2004-03-10 00:00:00,19:00:00,2,1292.25,112,9.39716489,954.75,103,1173.75,92,1558.75,972.25,13.29999995,47.69999981,0.725487449
2,2004-03-10 00:00:00,20:00:00,2.2,1402,88,8.997816871,939.25,131,1140,114,1554.5,1074,11.9000001,53.97500038,0.750239067
3,2004-03-10 00:00:00,21:00:00,2.2,1375.5,80,9.228796421,948.25,172,1092,122,1583.75,1203.25,11,60,0.786712533
4,2004-03-10 00:00:00,22:00:00,1.6,1272.25,51,6.518223669,835.5,131,1205,116,1490,1110,11.1500001,59.57500076,0.788794232
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9356,2005-04-04 00:00:00,14:00:00,2.2,1070.75,NaN,11.9320599,1047.25,265.2,654,167.7,1128.5,816,28.50000048,13.125,0.502803706
9357,NaN,NaN,2.2,1070.75,-149.7634015,11.9320599,1047.25,265.2,654,167.7,1128.5,816,28.50000048,13.125,0.502803706
9358,NaN,NaN,2.2,1070.75,-99.52680309,11.9320599,1047.25,265.2,654,167.7,1128.5,816,28.50000048,13.125,0.502803706
9359,NaN,NaN,2.2,1070.75,-49.29020464,11.9320599,1047.25,265.2,654,167.7,1128.5,816,28.50000048,13.125,0.502803706
9360,NaN,NaN,2.2,1070.75,0.946393816,11.9320599,1047.25,265.2,654,167.7,1128.5,816,28.50000048,13.125,0.502803706

In [6]:
for col in df.columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [7]:
df

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,NaN,NaN,2.6,1360.00,150.000000,11.881723,1045.50,166.0,1056.25,113.0,1692.00,1267.50,13.60,48.875001,0.757754
1,NaN,NaN,2.0,1292.25,112.000000,9.397165,954.75,103.0,1173.75,92.0,1558.75,972.25,13.30,47.700000,0.725487
2,NaN,NaN,2.2,1402.00,88.000000,8.997817,939.25,131.0,1140.00,114.0,1554.50,1074.00,11.90,53.975000,0.750239
3,NaN,NaN,2.2,1375.50,80.000000,9.228796,948.25,172.0,1092.00,122.0,1583.75,1203.25,11.00,60.000000,0.786713
4,NaN,NaN,1.6,1272.25,51.000000,6.518224,835.50,131.0,1205.00,116.0,1490.00,1110.00,11.15,59.575001,0.788794
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9356,NaN,NaN,2.2,1070.75,NaN,11.932060,1047.25,265.2,654.00,167.7,1128.50,816.00,28.50,13.125000,0.502804
9357,NaN,NaN,2.2,1070.75,-149.763401,11.932060,1047.25,265.2,654.00,167.7,1128.50,816.00,28.50,13.125000,0.502804
9358,NaN,NaN,2.2,1070.75,-99.526803,11.932060,1047.25,265.2,654.00,167.7,1128.50,816.00,28.50,13.125000,0.502804
9359,NaN,NaN,2.2,1070.75,-49.290205,11.932060,1047.25,265.2,654.00,167.7,1128.50,816.00,28.50,13.125000,0.502804
9360,NaN,NaN,2.2,1070.75,0.946394,11.932060,1047.25,265.2,654.00,167.7,1128.50,816.00,28.50,13.125000,0.502804