In [22]:
import pandas as pd
import numpy as np

In [23]:
df = pd.read_excel('./origin_data_three.xlsx')

In [24]:
df

         Index                Time     CN     SD
0            0 2023-05-21 00:00:00    0.0  403.2
1            1 2023-05-21 00:00:15    0.0  400.6
2            2 2023-05-21 00:00:30   79.6  463.9
3            3 2023-05-21 00:00:45  120.7  506.0
4            4 2023-05-21 00:01:00  121.2  515.5
...        ...                 ...    ...    ...
518395  518395 2023-08-18 23:58:45    0.0  585.1
518396  518396 2023-08-18 23:59:00    0.0  588.4
518397  518397 2023-08-18 23:59:15    0.0  578.6
518398  518398 2023-08-18 23:59:30    0.0  603.4
518399  518399 2023-08-18 23:59:45    0.0  333.1

[518400 rows x 4 columns]

In [25]:
# 检查DataFrame中是否有任何NaN值
has_nan = df.isna().any().any()

if has_nan:
    print("DataFrame contains NaN values.")
else:
    print("DataFrame does not contain any NaN values.")

DataFrame contains NaN values.

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 518400 entries, 0 to 518399
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Index   518400 non-null  int64
 1   Time    518400 non-null  datetime64[ns]
 2   CN      516463 non-null  float64
 3   SD      516463 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1)
memory usage: 15.8 MB

In [27]:
total_nan = df.isna().sum().sum()
print(f"Total number of NaN values: {total_nan}")

Total number of NaN values: 3874

In [28]:
# 找到包含NaN的行
rows_with_nan = df[df.isna().any(axis=1)]

# 打印这些行
rows_with_nan

         Index                Time  CN  SD
115197  115197 2023-06-09 23:59:15 NaN NaN
115198  115198 2023-06-09 23:59:30 NaN NaN
115199  115199 2023-06-09 23:59:45 NaN NaN
138237  138237 2023-06-13 23:59:15 NaN NaN
138238  138238 2023-06-13 23:59:30 NaN NaN
...        ...                 ...  ..  ..
328317  328317 2023-07-16 23:59:15 NaN NaN
328318  328318 2023-07-16 23:59:30 NaN NaN
328319  328319 2023-07-16 23:59:45 NaN NaN
334078  334078 2023-07-17 23:59:30 NaN NaN
334079  334079 2023-07-17 23:59:45 NaN NaN

[1937 rows x 4 columns]

In [29]:
df_interpolated = df.interpolate(method='linear')

In [30]:

# 检查DataFrame中是否有任何NaN值
has_nan = df_interpolated.isna().any().any()

if has_nan:
    print("DataFrame contains NaN values.")
else:
    print("DataFrame does not contain any NaN values.")

DataFrame does not contain any NaN values.

In [31]:
df_interpolated

         Index                Time     CN     SD
0            0 2023-05-21 00:00:00    0.0  403.2
1            1 2023-05-21 00:00:15    0.0  400.6
2            2 2023-05-21 00:00:30   79.6  463.9
3            3 2023-05-21 00:00:45  120.7  506.0
4            4 2023-05-21 00:01:00  121.2  515.5
...        ...                 ...    ...    ...
518395  518395 2023-08-18 23:58:45    0.0  585.1
518396  518396 2023-08-18 23:59:00    0.0  588.4
518397  518397 2023-08-18 23:59:15    0.0  578.6
518398  518398 2023-08-18 23:59:30    0.0  603.4
518399  518399 2023-08-18 23:59:45    0.0  333.1

[518400 rows x 4 columns]