In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('./历史用电数据_单柜.csv')
df

,date,system_id,system_type,data
0,2023-11-03,-1,Time,"00:00,00:00:15,00:00:30,00:00:45,00:01,00:01:1..."
1,2023-11-03,1,CN,"0.0,0.0,0.0,0.1,49.9,50.0,49.9,50.0,49.9,49.7,..."
2,2023-11-03,4,SD,"73.8,73.2,74.1,75.6,125.4,126.0,126.9,127.2,12..."
3,2023-11-04,-1,Time,"00:00,00:00:15,00:00:30,00:00:45,00:01,00:01:1..."
4,2023-11-04,1,CN,"0.0,0.0,0.0,0.2,49.8,50.2,49.8,49.9,50.0,50.0,..."
...,...,...,...,...
355,2024-03-16,1,CN,"0.0,0.0,0.0,0.0,0.0,0.1,50.0,50.0,50.0,49.9,50..."
356,2024-03-16,4,SD,"51.0,52.2,51.9,48.9,45.9,45.6,94.5,94.2,94.5,9..."
357,2024-03-17,-1,Time,"00:00,00:00:15,00:00:30,00:00:45,00:01,00:01:1..."
358,2024-03-17,1,CN,"0.0,0.0,0.0,0.0,0.0,0.2,50.2,49.8,49.8,49.9,50..."
359,2024-03-17,4,SD,"65.4,63.0,63.3,63.3,62.7,62.7,111.9,110.4,110...."