In [11]:
import pandas as pd
import numpy as np

In [36]:
df = pd.read_csv('./历史用电数据_三并柜.csv')
df

,date,system_id,system_type,data
0,2023-05-21,-1,Time,"00:00,00:00:15,00:00:30,00:00:45,00:01,00:01:1..."
1,2023-05-21,1,CN,"0.0,0.0,79.6,120.7,121.2,121.1,121.2,119.5,121..."
2,2023-05-21,4,SD,"403.2,400.6,463.9,506.0,515.5,514.8,515.3,516...."
3,2023-05-22,-1,Time,"00:00,00:00:15,00:00:30,00:00:45,00:01,00:01:1..."
4,2023-05-22,1,CN,"0.0,120.6,120.8,120.5,121.1,120.7,120.7,120.5,..."
...,...,...,...,...
265,2023-08-17,1,CN,"0.0,150.6,151.3,151.0,151.6,151.9,150.6,151.2,..."
266,2023-08-17,4,SD,"639.1,780.7,783.2,774.3,787.7,781.7,791.3,803...."
267,2023-08-18,-1,Time,"00:00,00:00:15,00:00:30,00:00:45,00:01,00:01:1..."
268,2023-08-18,1,CN,"0.0,151.5,151.3,152.6,151.4,149.9,150.7,151.7,..."
269,2023-08-18,4,SD,"375.7,537.1,509.6,527.3,511.5,519.9,506.1,525...."

In [37]:
df_expand = df['data'].str.split(',', expand=True)

In [38]:
df_expand

,0,1,2,3,4,5,6,7,8,9,...,5750,5751,5752,5753,5754,5755,5756,5757,5758,5759
0,00:00,00:00:15,00:00:30,00:00:45,00:01,00:01:15,00:01:30,00:01:45,00:02,00:02:15,...,23:57:30,23:57:45,23:58,23:58:15,23:58:30,23:58:45,23:59,23:59:15,23:59:30,23:59:45
1,0.0,0.0,79.6,120.7,121.2,121.1,121.2,119.5,121.9,121.4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,403.2,400.6,463.9,506.0,515.5,514.8,515.3,516.2,518.0,509.1,...,390.0,373.3,376.0,411.3,397.7,399.9,409.6,407.5,412.9,401.3
3,00:00,00:00:15,00:00:30,00:00:45,00:01,00:01:15,00:01:30,00:01:45,00:02,00:02:15,...,23:57:30,23:57:45,23:58,23:58:15,23:58:30,23:58:45,23:59,23:59:15,23:59:30,23:59:45
4,0.0,120.6,120.8,120.5,121.1,120.7,120.7,120.5,120.9,120.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,0.0,150.6,151.3,151.0,151.6,151.9,150.6,151.2,151.8,150.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
266,639.1,780.7,783.2,774.3,787.7,781.7,791.3,803.3,816.5,791.5,...,649.7,680.7,658.0,676.9,398.5,397.0,375.9,391.4,373.0,396.0
267,00:00,00:00:15,00:00:30,00:00:45,00:01,00:01:15,00:01:30,00:01:45,00:02,00:02:15,...,23:57:30,23:57:45,23:58,23:58:15,23:58:30,23:58:45,23:59,23:59:15,23:59:30,23:59:45
268,0.0,151.5,151.3,152.6,151.4,149.9,150.7,151.7,150.7,151.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
269,375.7,537.1,509.6,527.3,511.5,519.9,506.1,525.3,510.6,519.5,...,613.0,615.8,618.6,613.0,618.6,585.1,588.4,578.6,603.4,333.1

In [29]:
start_date = '2023-11-03'
end_date = pd.to_datetime(start_date) + pd.DateOffset(days=120)
time_index = pd.date_range(start=start_date, end=end_date, freq='15S')

C:\Users\Asus\AppData\Local\Temp\ipykernel_22276\542909029.py:3: FutureWarning: 'S' is deprecated and will be removed in a future version, please use 's' instead.
  time_index = pd.date_range(start=start_date, end=end_date, freq='15S')

In [30]:

# 创建DataFrame
df = pd.DataFrame(index=time_index)
df.index.name = 'Time'

In [31]:

# 添加CN和SD列（这里使用随机数据作为示例，你可以替换为实际数据）
df['CN'] = np.random.random(len(df))
df['SD'] = np.random.random(len(df))

In [32]:
df

                           CN        SD
Time
2023-11-03 00:00:00  0.047495  0.603634
2023-11-03 00:00:15  0.269693  0.048210
2023-11-03 00:00:30  0.182252  0.587354
2023-11-03 00:00:45  0.599454  0.950213
2023-11-03 00:01:00  0.614103  0.226618
...                       ...       ...
2024-03-01 23:59:00  0.605067  0.684648
2024-03-01 23:59:15  0.468764  0.763136
2024-03-01 23:59:30  0.276756  0.277006
2024-03-01 23:59:45  0.111011  0.222748
2024-03-02 00:00:00  0.376256  0.835351

[691201 rows x 2 columns]

In [19]:
df_transpose = df_expand.loc[2].transpose()

In [20]:
df_transpose

0        73.8
1        73.2
2        74.1
3        75.6
4       125.4
        ...
5755     91.2
5756     91.2
5757     92.7
5758     91.8
5759     85.2
Name: 2, Length: 5760, dtype: object

In [26]:
df_transposed = pd.DataFrame()
df_transposed = pd.concat((df_transposed, df_transpose), ignore_index=True)

In [28]:
df_transpose = df_expand.loc[5].transpose()
df_transposed = pd.concat((df_transposed, df_transpose), ignore_index=True)
df_transposed

           0
0       73.8
1       73.2
2       74.1
3       75.6
4      125.4
...      ...
11515  103.5
11516  103.2
11517   98.4
11518   98.7
11519  101.1

[11520 rows x 1 columns]