In [ ]:
import warnings

warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.layers import *
from tensorflow.keras.models import *
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import itertools
from tqdm import tqdm
from collections import namedtuple

from sklearn.preprocessing import MinMaxScaler, LabelEncoder


# Define feature classes and NCF model components
class SparseFeat:
    def __init__(self, name, vocabulary_size, embedding_dim):
        self.name = name
        self.vocabulary_size = vocabulary_size
        self.embedding_dim = embedding_dim


def build_input_layers(feature_columns):
    dense_input_dict, sparse_input_dict = {}, {}
    for fc in feature_columns:
        if isinstance(fc, SparseFeat):
            sparse_input_dict[fc.name] = Input(shape=(1,), name=fc.name)
    return dense_input_dict, sparse_input_dict


def build_embedding_layers(feature_columns, input_layers_dict, is_linear, prefix=''):
    embedding_layers_dict = {}
    sparse_feature_columns = [x for x in feature_columns if isinstance(x, SparseFeat)]
    if is_linear:
        for fc in sparse_feature_columns:
            embedding_layers_dict[fc.name] = Embedding(fc.vocabulary_size + 1, 1, name=prefix + '1d_emb_' + fc.name)
    else:
        for fc in sparse_feature_columns:
            embedding_layers_dict[fc.name] = Embedding(fc.vocabulary_size + 1, fc.embedding_dim,
                                                       name=prefix + 'kd_emb_' + fc.name)
    return embedding_layers_dict


def get_dnn_out(dnn_inputs, units=(32, 16)):
    dnn_out = dnn_inputs
    for out_dim in units:
        dnn_out = Dense(out_dim)(dnn_out)
    return dnn_out


def NCF(dnn_feature_columns):
    _, sparse_input_dict = build_input_layers(dnn_feature_columns)
    input_layers = list(sparse_input_dict.values())
    GML_embedding_dict = build_embedding_layers(dnn_feature_columns, sparse_input_dict, is_linear=False, prefix='GML')
    MLP_embedding_dict = build_embedding_layers(dnn_feature_columns, sparse_input_dict, is_linear=False, prefix='MLP')
    GML_user_emb = Flatten()(GML_embedding_dict['user_id'](sparse_input_dict['user_id']))
    GML_item_emb = Flatten()(GML_embedding_dict['item_id'](sparse_input_dict['item_id']))

    # Use Keras Multiply layer instead of tf.multiply
    GML_out = Multiply()([GML_user_emb, GML_item_emb])

    MLP_user_emb = Flatten()(MLP_embedding_dict['user_id'](sparse_input_dict['user_id']))
    MLP_item_emb = Flatten()(MLP_embedding_dict['item_id'](sparse_input_dict['item_id']))
    MLP_dnn_input = Concatenate(axis=1)([MLP_user_emb, MLP_item_emb])
    MLP_dnn_out = get_dnn_out(MLP_dnn_input, (32, 16))
    concat_out = Concatenate(axis=1)([GML_out, MLP_dnn_out])
    output_layer = Dense(1)(concat_out)
    model = Model(input_layers, output_layer)
    return model


def prepare_data(file_path):
    data = pd.read_excel(file_path)
    data['StockCode'] = data['StockCode'].astype(str)
    data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'])
    data = data.dropna(subset=['CustomerID'])  # Drop rows where CustomerID is NaN
    data['CustomerID'] = data['CustomerID'].astype(int)

    # Create a time index to separate data by months
    data.set_index('InvoiceDate', inplace=True)
    data.sort_index(inplace=True)

    # Extract months
    months = data.index.to_period('M').unique()
    data['InvoiceDate'] = pd.to_datetime(data.index)
    data['Month'] = data['InvoiceDate'].dt.to_period('M')
    weekly_purchase_frequency = data.groupby(['CustomerID', 'StockCode', 'Month']).size().reset_index(
        name='rating')

    # weekly_purchase_frequency['InvoiceDate'] = data['InvoiceDate']
    # weekly_purchase_frequency.set_index('InvoiceDate', inplace=True)
    # weekly_purchase_frequency.sort_index(inplace=True)
    data = weekly_purchase_frequency
    data['monthly_rating'] = data.groupby(['StockCode', 'Month'])['StockCode'].transform('count')
    data['rating'] = data['monthly_rating']
    # Split data into training (first 5 months) and test (6th month)
    # Encoding
    lbe_user = LabelEncoder()
    lbe_item = LabelEncoder()
    data['user_id'] = lbe_user.fit_transform(data['CustomerID'])
    data['item_id'] = lbe_item.fit_transform(data['StockCode'])
    item_id_to_stockcode = dict(zip(lbe_item.transform(lbe_item.classes_), lbe_item.classes_))
    train_weeks = months[:]

    random_values = np.random.choice(data['user_id'].values, size=1000, replace=False)
    repeated_values = np.repeat(random_values, 3665)
    test_data = pd.DataFrame()
    test_data['user_id'] = repeated_values
    test_data['item_id'] = np.tile(np.arange(3665), len(random_values))

    train_data = data.loc[data['Month'].isin(train_weeks)]


    return train_data, test_data, item_id_to_stockcode, data

file_path = './handled_data2.xlsx'
train_data, test_data, item_id_to_stockcode, data = prepare_data(file_path)

# Print the mapping between item_id and StockCode before training the model
print("Mapping from item_id to StockCode:")
for item_id, stockcode in item_id_to_stockcode.items():
    print(f"item_id: {item_id} -> StockCode: {stockcode}")

# Define feature columns for the model
dnn_feature_columns = [
    SparseFeat('user_id', data['user_id'].nunique(), 8),
    SparseFeat('item_id', data['item_id'].nunique(), 8)
]

# Build and compile the model
model = NCF(dnn_feature_columns)
model.summary()
model.compile(optimizer="adam", loss="mse", metrics=['mae'])

# Prepare training data
train_model_input = {name: train_data[name] for name in ['user_id', 'item_id']}
train_labels = train_data['rating']

# Train the model
model.fit(train_model_input, train_labels, batch_size=32, epochs=50, validation_split=0.2)

# Predict on test data
test_model_input = {name: test_data[name] for name in ['user_id', 'item_id']}
test_predictions = model.predict(test_model_input)

# Add predictions to test_data
test_data['predicted_rating'] = test_predictions

In [2]:
test_predictions

array([[22.198454],
       [28.968863],
       [28.968863],
       ...,
       [21.271963],
       [21.271963],
       [21.271963]], dtype=float32)

In [15]:
print(test_model_input)

{'user_id': 369          0
370          0
371          0
372          0
431          1
          ...
363377    1055
363378    1055
363379    1055
363381    1055
363383    1055
Name: user_id, Length: 26372, dtype: int64, 'item_id': 369       1346
370       1651
371       1654
372       1655
431        983
          ...
363377    1878
363378    1967
363379    2033
363381    2034
363383    2036
Name: item_id, Length: 26372, dtype: int64}

In [62]:
list1 = train_data['user_id'].unique()

In [57]:
list2 = test_data['user_id'].unique()

In [29]:
filt = (train_data['StockCode'] == '22423')

In [30]:
train_data[filt]

,CustomerID,StockCode,Month,rating,monthly_rating,user_id,item_id
67,12347,22423,2011-01,196,98,1,1261
68,12347,22423,2011-04,276,138,1,1261
318,12352,22423,2011-02,212,106,4,1261
471,12356,22423,2011-01,196,98,6,1261
472,12356,22423,2011-04,276,138,6,1261
...,...,...,...,...,...,...,...
360107,18223,22423,2011-02,212,106,2411,1261
361460,18239,22423,2011-01,196,98,2420,1261
361920,18250,22423,2011-02,212,106,2423,1261
362266,18260,22423,2011-01,196,98,2426,1261
362267,18260,22423,2011-04,276,138,2426,1261

In [31]:
filt = (train_data['item_id'] == 1261)

In [33]:
train_data[filt]

,CustomerID,StockCode,Month,rating,monthly_rating,user_id,item_id
67,12347,22423,2011-01,196,98,1,1261
68,12347,22423,2011-04,276,138,1,1261
318,12352,22423,2011-02,212,106,4,1261
471,12356,22423,2011-01,196,98,6,1261
472,12356,22423,2011-04,276,138,6,1261
...,...,...,...,...,...,...,...
360107,18223,22423,2011-02,212,106,2411,1261
361460,18239,22423,2011-01,196,98,2420,1261
361920,18250,22423,2011-02,212,106,2423,1261
362266,18260,22423,2011-01,196,98,2426,1261
362267,18260,22423,2011-04,276,138,2426,1261

In [47]:
test_predictions

array([[42.92569 ],
       [58.77943 ],
       [58.77943 ],
       ...,
       [45.686474],
       [45.686474],
       [45.686474]], dtype=float32)

In [48]:
test_model_input['user_id']

369          6
370          6
371          6
372          6
431          8
          ...
363377    4338
363378    4338
363379    4338
363381    4338
363383    4338
Name: user_id, Length: 26372, dtype: int64

In [39]:
test_model_input

{'user_id': 369          0
 370          0
 371          0
 372          0
 431          1
           ...
 363377    1055
 363378    1055
 363379    1055
 363381    1055
 363383    1055
 Name: user_id, Length: 26372, dtype: int64,
 'item_id': 369       1346
 370       1651
 371       1654
 372       1655
 431        983
           ...
 363377    1878
 363378    1967
 363379    2033
 363381    2034
 363383    2036
 Name: item_id, Length: 26372, dtype: int64}

In [45]:
item_id_to_stockcode

{0: '10002',
 1: '10080',
 2: '10120',
 3: '10123C',
 4: '10124A',
 5: '10124G',
 6: '10125',
 7: '10133',
 8: '10135',
 9: '11001',
 10: '15030',
 11: '15034',
 12: '15036',
 13: '15039',
 14: '15044A',
 15: '15044B',
 16: '15044C',
 17: '15044D',
 18: '15056BL',
 19: '15056N',
 20: '15056P',
 21: '15058A',
 22: '15058B',
 23: '15058C',
 24: '15060B',
 25: '16008',
 26: '16010',
 27: '16011',
 28: '16012',
 29: '16014',
 30: '16015',
 31: '16016',
 32: '16020C',
 33: '16033',
 34: '16043',
 35: '16045',
 36: '16046',
 37: '16048',
 38: '16049',
 39: '16052',
 40: '16054',
 41: '16151A',
 42: '16156L',
 43: '16156S',
 44: '16161G',
 45: '16161M',
 46: '16161P',
 47: '16161U',
 48: '16162L',
 49: '16162M',
 50: '16168M',
 51: '16169E',
 52: '16169K',
 53: '16169M',
 54: '16169N',
 55: '16169P',
 56: '16202A',
 57: '16202B',
 58: '16202E',
 59: '16206B',
 60: '16207A',
 61: '16207B',
 62: '16216',
 63: '16218',
 64: '16219',
 65: '16225',
 66: '16235',
 67: '16236',
 68: '16237',
 69: '16238',
 70: '16244B',
 71: '16248B',
 72: '16254',
 73: '16258A',
 74: '16259',
 75: '17001',
 76: '17003',
 77: '17007B',
 78: '17011F',
 79: '17012A',
 80: '17012B',
 81: '17012C',
 82: '17012D',
 83: '17012E',
 84: '17012F',
 85: '17013D',
 86: '17014A',
 87: '17021',
 88: '17028J',
 89: '17038',
 90: '17084A',
 91: '17084J',
 92: '17084N',
 93: '17084P',
 94: '17084R',
 95: '17090A',
 96: '17090D',
 97: '17091A',
 98: '17091J',
 99: '17096',
 100: '17107D',
 101: '17109D',
 102: '17129F',
 103: '17136A',
 104: '17164B',
 105: '17165D',
 106: '17174',
 107: '17191A',
 108: '18007',
 109: '18094C',
 110: '18097A',
 111: '18097C',
 112: '18098C',
 113: '20615',
 114: '20616',
 115: '20617',
 116: '20618',
 117: '20619',
 118: '20622',
 119: '20652',
 120: '20653',
 121: '20654',
 122: '20655',
 123: '20657',
 124: '20658',
 125: '20659',
 126: '20661',
 127: '20662',
 128: '20663',
 129: '20664',
 130: '20665',
 131: '20666',
 132: '20667',
 133: '20668',
 134: '20669',
 135: '20670',
 136: '20671',
 137: '20674',
 138: '20675',
 139: '20676',
 140: '20677',
 141: '20678',
 142: '20679',
 143: '20681',
 144: '20682',
 145: '20684',
 146: '20685',
 147: '20686',
 148: '20694',
 149: '20695',
 150: '20696',
 151: '20697',
 152: '20698',
 153: '20699',
 154: '20700',
 155: '20701',
 156: '20702',
 157: '20703',
 158: '20704',
 159: '20705',
 160: '20707',
 161: '20711',
 162: '20712',
 163: '20713',
 164: '20716',
 165: '20717',
 166: '20718',
 167: '20719',
 168: '20723',
 169: '20724',
 170: '20725',
 171: '20726',
 172: '20727',
 173: '20728',
 174: '20731',
 175: '20733',
 176: '20735',
 177: '20748',
 178: '20749',
 179: '20750',
 180: '20751',
 181: '20752',
 182: '20754',
 183: '20755',
 184: '20756',
 185: '20757',
 186: '20758',
 187: '20759',
 188: '20760',
 189: '20761',
 190: '20762',
 191: '20763',
 192: '20764',
 193: '20765',
 194: '20766',
 195: '20767',
 196: '20768',
 197: '20769',
 198: '20770',
 199: '20771',
 200: '20772',
 201: '20773',
 202: '20774',
 203: '20775',
 204: '20777',
 205: '20778',
 206: '20780',
 207: '20781',
 208: '20782',
 209: '20785',
 210: '20793',
 211: '20794',
 212: '20795',
 213: '20796',
 214: '20798',
 215: '20801',
 216: '20802',
 217: '20803',
 218: '20816',
 219: '20818',
 220: '20819',
 221: '20820',
 222: '20821',
 223: '20823',
 224: '20826',
 225: '20827',
 226: '20828',
 227: '20829',
 228: '20830',
 229: '20831',
 230: '20832',
 231: '20835',
 232: '20836',
 233: '20837',
 234: '20838',
 235: '20839',
 236: '20840',
 237: '20845',
 238: '20846',
 239: '20847',
 240: '20848',
 241: '20851',
 242: '20854',
 243: '20856',
 244: '20857',
 245: '20861',
 246: '20866',
 247: '20867',
 248: '20868',
 249: '20869',
 250: '20878',
 251: '20886',
 252: '20892',
 253: '20893',
 254: '20894',
 255: '20897',
 256: '20898',
 257: '20901',
 258: '20902',
 259: '20903',
 260: '20906',
 261: '20910',
 262: '20914',
 263: '20931',
 264: '20932',
 265: '20933',
 266: '20934',
 267: '20935',
 268: '20936',
 269: '20941',
 270: '20956',
 271: '20961',
 272: '20963',
 273: '20964',
 274: '20966',
 275: '20967',
 276: '20969',
 277: '20970',
 278: '20971',
 279: '20972',
 280: '20973',
 281: '20974',
 282: '20975',
 283: '20977',
 284: '20978',
 285: '20979',
 286: '20980',
 287: '20981',
 288: '20982',
 289: '20983',
 290: '20984',
 291: '20985',
 292: '20986',
 293: '20992',
 294: '20996',
 295: '20997',
 296: '20998',
 297: '21000',
 298: '21001',
 299: '21002',
 300: '21003',
 301: '21011',
 302: '21012',
 303: '21014',
 304: '21015',
 305: '21018',
 306: '21025',
 307: '21026',
 308: '21027',
 309: '21028',
 310: '21030',
 311: '21031',
 312: '21032',
 313: '21033',
 314: '21034',
 315: '21035',
 316: '21038',
 317: '21039',
 318: '21040',
 319: '21041',
 320: '21042',
 321: '21043',
 322: '21051',
 323: '21054',
 324: '21055',
 325: '21056',
 326: '21058',
 327: '21059',
 328: '21060',
 329: '21061',
 330: '21062',
 331: '21063',
 332: '21064',
 333: '21065',
 334: '21066',
 335: '21067',
 336: '21068',
 337: '21069',
 338: '21070',
 339: '21071',
 340: '21078',
 341: '21080',
 342: '21084',
 343: '21086',
 344: '21087',
 345: '21088',
 346: '21089',
 347: '21090',
 348: '21094',
 349: '21095',
 350: '21096',
 351: '21098',
 352: '21100',
 353: '21106',
 354: '21107',
 355: '21108',
 356: '21109',
 357: '21110',
 358: '21111',
 359: '21112',
 360: '21114',
 361: '21115',
 362: '21116',
 363: '21117',
 364: '21121',
 365: '21122',
 366: '21123',
 367: '21124',
 368: '21125',
 369: '21126',
 370: '21128',
 371: '21129',
 372: '21131',
 373: '21132',
 374: '21135',
 375: '21136',
 376: '21137',
 377: '21143',
 378: '21145',
 379: '21147',
 380: '21154',
 381: '21155',
 382: '21156',
 383: '21157',
 384: '21158',
 385: '21159',
 386: '21161',
 387: '21162',
 388: '21163',
 389: '21164',
 390: '21165',
 391: '21166',
 392: '21167',
 393: '21169',
 394: '21171',
 395: '21172',
 396: '21174',
 397: '21175',
 398: '21179',
 399: '21181',
 400: '21187',
 401: '21188',
 402: '21189',
 403: '21190',
 404: '21191',
 405: '21192',
 406: '21194',
 407: '21195',
 408: '21196',
 409: '21197',
 410: '21198',
 411: '21199',
 412: '21200',
 413: '21201',
 414: '21202',
 415: '21204',
 416: '21205',
 417: '21206',
 418: '21207',
 419: '21208',
 420: '21209',
 421: '21210',
 422: '21211',
 423: '21212',
 424: '21213',
 425: '21215',
 426: '21216',
 427: '21217',
 428: '21218',
 429: '21219',
 430: '21220',
 431: '21221',
 432: '21222',
 433: '21224',
 434: '21226',
 435: '21228',
 436: '21231',
 437: '21232',
 438: '21238',
 439: '21239',
 440: '21240',
 441: '21242',
 442: '21243',
 443: '21244',
 444: '21245',
 445: '21246',
 446: '21248',
 447: '21249',
 448: '21250',
 449: '21251',
 450: '21253',
 451: '21257',
 452: '21258',
 453: '21259',
 454: '21260',
 455: '21261',
 456: '21262',
 457: '21263',
 458: '21264',
 459: '21265',
 460: '21268',
 461: '21269',
 462: '21270',
 463: '21272',
 464: '21275',
 465: '21277',
 466: '21278',
 467: '21279',
 468: '21280',
 469: '21281',
 470: '21284',
 471: '21285',
 472: '21286',
 473: '21287',
 474: '21288',
 475: '21289',
 476: '21291',
 477: '21292',
 478: '21293',
 479: '21294',
 480: '21306',
 481: '21307',
 482: '21310',
 483: '21311',
 484: '21313',
 485: '21314',
 486: '21316',
 487: '21317',
 488: '21318',
 489: '21319',
 490: '21320',
 491: '21324',
 492: '21326',
 493: '21327',
 494: '21328',
 495: '21329',
 496: '21331',
 497: '21332',
 498: '21333',
 499: '21336',
 500: '21340',
 501: '21344',
 502: '21348',
 503: '21349',
 504: '21351',
 505: '21352',
 506: '21354',
 507: '21355',
 508: '21356',
 509: '21357',
 510: '21358',
 511: '21359',
 512: '21360',
 513: '21361',
 514: '21363',
 515: '21364',
 516: '21365',
 517: '21366',
 518: '21367',
 519: '21368',
 520: '21369',
 521: '21370',
 522: '21371',
 523: '21372',
 524: '21373',
 525: '21374',
 526: '21375',
 527: '21376',
 528: '21377',
 529: '21378',
 530: '21379',
 531: '21380',
 532: '21381',
 533: '21382',
 534: '21383',
 535: '21385',
 536: '21386',
 537: '21389',
 538: '21390',
 539: '21391',
 540: '21392',
 541: '21393',
 542: '21394',
 543: '21395',
 544: '21397',
 545: '21398',
 546: '21399',
 547: '21400',
 548: '21401',
 549: '21402',
 550: '21403',
 551: '21407',
 552: '21408',
 553: '21411',
 554: '21413',
 555: '21414',
 556: '21415',
 557: '21416',
 558: '21417',
 559: '21418',
 560: '21420',
 561: '21421',
 562: '21422',
 563: '21424',
 564: '21425',
 565: '21426',
 566: '21427',
 567: '21428',
 568: '21429',
 569: '21430',
 570: '21439',
 571: '21441',
 572: '21442',
 573: '21445',
 574: '21446',
 575: '21447',
 576: '21448',
 577: '21452',
 578: '21454',
 579: '21455',
 580: '21456',
 581: '21457',
 582: '21458',
 583: '21459',
 584: '21460',
 585: '21461',
 586: '21462',
 587: '21463',
 588: '21464',
 589: '21465',
 590: '21466',
 591: '21467',
 592: '21468',
 593: '21469',
 594: '21470',
 595: '21471',
 596: '21472',
 597: '21473',
 598: '21476',
 599: '21479',
 600: '21481',
 601: '21484',
 602: '21485',
 603: '21486',
 604: '21488',
 605: '21494',
 606: '21495',
 607: '21497',
 608: '21498',
 609: '21499',
 610: '21500',
 611: '21503',
 612: '21504',
 613: '21506',
 614: '21507',
 615: '21508',
 616: '21509',
 617: '21518',
 618: '21519',
 619: '21520',
 620: '21523',
 621: '21524',
 622: '21527',
 623: '21528',
 624: '21530',
 625: '21531',
 626: '21533',
 627: '21534',
 628: '21535',
 629: '21537',
 630: '21538',
 631: '21539',
 632: '21544',
 633: '21547',
 634: '21555',
 635: '21556',
 636: '21557',
 637: '21558',
 638: '21559',
 639: '21561',
 640: '21562',
 641: '21563',
 642: '21564',
 643: '21576',
 644: '21577',
 645: '21578',
 646: '21579',
 647: '21580',
 648: '21581',
 649: '21584',
 650: '21586',
 651: '21587',
 652: '21588',
 653: '21591',
 654: '21592',
 655: '21609',
 656: '21613',
 657: '21614',
 658: '21615',
 659: '21616',
 660: '21617',
 661: '21618',
 662: '21619',
 663: '21620',
 664: '21621',
 665: '21622',
 666: '21623',
 667: '21624',
 668: '21625',
 669: '21626',
 670: '21627',
 671: '21628',
 672: '21629',
 673: '21630',
 674: '21631',
 675: '21632',
 676: '21633',
 677: '21634',
 678: '21635',
 679: '21636',
 680: '21637',
 681: '21638',
 682: '21640',
 683: '21641',
 684: '21642',
 685: '21643',
 686: '21644',
 687: '21647',
 688: '21648',
 689: '21650',
 690: '21651',
 691: '21654',
 692: '21655',
 693: '21656',
 694: '21657',
 695: '21658',
 696: '21661',
 697: '21662',
 698: '21664',
 699: '21666',
 700: '21667',
 701: '21668',
 702: '21669',
 703: '21670',
 704: '21671',
 705: '21672',
 706: '21673',
 707: '21675',
 708: '21676',
 709: '21677',
 710: '21678',
 711: '21679',
 712: '21680',
 713: '21681',
 714: '21682',
 715: '21683',
 716: '21684',
 717: '21686',
 718: '21688',
 719: '21689',
 720: '21690',
 721: '21692',
 722: '21693',
 723: '21694',
 724: '21695',
 725: '21696',
 726: '21698',
 727: '21700',
 728: '21703',
 729: '21704',
 730: '21705',
 731: '21706',
 732: '21707',
 733: '21708',
 734: '21709',
 735: '21710',
 736: '21711',
 737: '21713',
 738: '21714',
 739: '21715',
 740: '21716',
 741: '21717',
 742: '21718',
 743: '21719',
 744: '21720',
 745: '21721',
 746: '21722',
 747: '21723',
 748: '21724',
 749: '21725',
 750: '21726',
 751: '21730',
 752: '21731',
 753: '21733',
 754: '21735',
 755: '21736',
 756: '21738',
 757: '21739',
 758: '21741',
 759: '21742',
 760: '21743',
 761: '21744',
 762: '21745',
 763: '21746',
 764: '21747',
 765: '21749',
 766: '21750',
 767: '21754',
 768: '21755',
 769: '21756',
 770: '21757',
 771: '21758',
 772: '21761',
 773: '21763',
 774: '21769',
 775: '21770',
 776: '21773',
 777: '21774',
 778: '21775',
 779: '21777',
 780: '21781',
 781: '21784',
 782: '21785',
 783: '21786',
 784: '21787',
 785: '21788',
 786: '21789',
 787: '21790',
 788: '21791',
 789: '21792',
 790: '21793',
 791: '21794',
 792: '21801',
 793: '21802',
 794: '21803',
 795: '21804',
 796: '21807',
 797: '21808',
 798: '21809',
 799: '21810',
 800: '21811',
 801: '21812',
 802: '21813',
 803: '21814',
 804: '21815',
 805: '21816',
 806: '21817',
 807: '21818',
 808: '21819',
 809: '21820',
 810: '21821',
 811: '21822',
 812: '21823',
 813: '21824',
 814: '21826',
 815: '21827',
 816: '21828',
 817: '21829',
 818: '21830',
 819: '21832',
 820: '21833',
 821: '21836',
 822: '21839',
 823: '21841',
 824: '21843',
 825: '21844',
 826: '21845',
 827: '21846',
 828: '21847',
 829: '21849',
 830: '21850',
 831: '21851',
 832: '21864',
 833: '21865',
 834: '21866',
 835: '21867',
 836: '21868',
 837: '21870',
 838: '21871',
 839: '21872',
 840: '21873',
 841: '21874',
 842: '21875',
 843: '21876',
 844: '21877',
 845: '21878',
 846: '21879',
 847: '21880',
 848: '21881',
 849: '21882',
 850: '21883',
 851: '21884',
 852: '21888',
 853: '21889',
 854: '21890',
 855: '21891',
 856: '21892',
 857: '21894',
 858: '21895',
 859: '21896',
 860: '21897',
 861: '21898',
 862: '21899',
 863: '21900',
 864: '21901',
 865: '21902',
 866: '21903',
 867: '21904',
 868: '21905',
 869: '21906',
 870: '21907',
 871: '21908',
 872: '21910',
 873: '21911',
 874: '21912',
 875: '21913',
 876: '21914',
 877: '21915',
 878: '21916',
 879: '21917',
 880: '21918',
 881: '21922',
 882: '21925',
 883: '21926',
 884: '21927',
 885: '21928',
 886: '21929',
 887: '21930',
 888: '21931',
 889: '21932',
 890: '21933',
 891: '21934',
 892: '21935',
 893: '21936',
 894: '21937',
 895: '21942',
 896: '21943',
 897: '21944',
 898: '21945',
 899: '21946',
 900: '21947',
 901: '21948',
 902: '21949',
 903: '21955',
 904: '21967',
 905: '21972',
 906: '21973',
 907: '21974',
 908: '21975',
 909: '21976',
 910: '21977',
 911: '21980',
 912: '21981',
 913: '21982',
 914: '21983',
 915: '21984',
 916: '21985',
 917: '21986',
 918: '21987',
 919: '21988',
 920: '21989',
 921: '21990',
 922: '21991',
 923: '21992',
 924: '21993',
 925: '22021',
 926: '22023',
 927: '22024',
 928: '22025',
 929: '22026',
 930: '22027',
 931: '22028',
 932: '22029',
 933: '22030',
 934: '22031',
 935: '22032',
 936: '22033',
 937: '22034',
 938: '22035',
 939: '22037',
 940: '22038',
 941: '22039',
 942: '22040',
 943: '22041',
 944: '22042',
 945: '22043',
 946: '22044',
 947: '22045',
 948: '22046',
 949: '22047',
 950: '22048',
 951: '22049',
 952: '22050',
 953: '22051',
 954: '22052',
 955: '22053',
 956: '22055',
 957: '22057',
 958: '22059',
 959: '22060',
 960: '22061',
 961: '22062',
 962: '22063',
 963: '22064',
 964: '22065',
 965: '22066',
 966: '22067',
 967: '22068',
 968: '22069',
 969: '22070',
 970: '22071',
 971: '22072',
 972: '22073',
 973: '22074',
 974: '22075',
 975: '22076',
 976: '22077',
 977: '22078',
 978: '22079',
 979: '22080',
 980: '22081',
 981: '22082',
 982: '22083',
 983: '22084',
 984: '22085',
 985: '22086',
 986: '22087',
 987: '22088',
 988: '22089',
 989: '22090',
 990: '22091',
 991: '22092',
 992: '22093',
 993: '22094',
 994: '22095',
 995: '22096',
 996: '22097',
 997: '22098',
 998: '22099',
 999: '22100',
 ...}

In [58]:
common_elements = list(set(list1) & set(list2))

TypeError: unique() takes 1 positional argument but 2 were given

TypeError: unique() takes 1 positional argument but 2 were given

In [68]:
common_elements = np.intersect1d(list1, list2)

In [69]:
common_elements

array([  22,   39,   42,   54,   55,   61,   69,   75,   86,   96,   97,
        100,  103,  105,  110,  111,  115,  119,  124,  139,  143,  155,
        160,  165,  176,  177,  182,  189,  200,  203,  204,  205,  206,
        215,  223,  227,  233,  241,  243,  245,  252,  253,  264,  270,
        272,  273,  274,  282,  291,  293,  294,  296,  298,  304,  310,
        314,  325,  326,  344,  346,  386,  389,  390,  391,  393,  404,
        409,  410,  416,  425,  427,  430,  431,  436,  437,  441,  445,
        448,  453,  455,  457,  461,  465,  466,  468,  471,  473,  481,
        485,  492,  495,  499,  501,  504,  509,  510,  511,  512,  515,
        516,  518,  527,  534,  537,  550,  555,  558,  562,  565,  567,
        570,  573,  581,  584,  585,  601,  603,  623,  631,  633,  645,
        649,  658,  660,  662,  667,  668,  679,  691,  693,  694,  695,
        696,  719,  725,  726,  728,  731,  733,  738,  777,  779,  787,
        795,  796,  802,  821,  824,  829,  836,  841,  843,  844,  845,
        851,  852,  867,  884,  887,  889,  892,  899,  901,  915,  919,
        928,  929,  930,  935,  949,  951,  952,  954,  968,  971,  976,
        977,  981,  996,  997,  998, 1016, 1024, 1026, 1034, 1035, 1042,
       1046, 1047, 1054, 1055, 1056, 1059, 1064, 1070, 1094, 1098, 1102,
       1105, 1114, 1127, 1128, 1134, 1135, 1137, 1152, 1155, 1156, 1180,
       1186, 1187, 1196, 1197, 1201, 1209, 1211, 1216, 1219, 1231, 1234,
       1241, 1242, 1249, 1254, 1256, 1258, 1263, 1264, 1266, 1268, 1277,
       1282, 1283, 1288, 1292, 1294, 1298, 1301, 1303, 1318, 1334, 1338,
       1340, 1352, 1355, 1356, 1359, 1360, 1364, 1369, 1370, 1371, 1376,
       1380, 1383, 1384, 1385, 1389, 1395, 1400, 1408, 1418, 1422, 1428,
       1430, 1431, 1435, 1442, 1449, 1458, 1460, 1464, 1466, 1483, 1496,
       1498, 1500, 1505, 1508, 1511, 1516, 1537, 1540, 1552, 1587, 1589,
       1593, 1594, 1603, 1609, 1616, 1618, 1620, 1627, 1631, 1634, 1640,
       1650, 1662, 1669, 1674, 1690, 1700, 1707, 1713, 1714, 1717, 1719,
       1736, 1738, 1740, 1753, 1754, 1755, 1757, 1758, 1759, 1764, 1768,
       1771, 1778, 1780, 1784, 1796, 1798, 1801, 1808, 1812, 1819, 1820,
       1831, 1847, 1854, 1868, 1869, 1874, 1880, 1892, 1898, 1904, 1909,
       1925, 1929, 1938, 1949, 1951, 1955, 1960, 1964, 1965, 1969, 1971,
       1973, 1982, 1984, 1985, 1998, 1999, 2000, 2007, 2008, 2017, 2019,
       2026, 2034, 2037, 2040, 2042, 2044, 2048, 2051, 2064, 2067, 2072,
       2084, 2087, 2092, 2093, 2105, 2107, 2114, 2119, 2121, 2125, 2131,
       2132, 2140, 2150, 2158, 2161, 2163, 2166, 2171, 2173, 2177, 2178,
       2211, 2212, 2221, 2223, 2226, 2228, 2229, 2237, 2247, 2249, 2257,
       2266, 2308, 2313, 2321, 2325, 2329, 2331, 2337, 2339, 2350, 2352,
       2359, 2364, 2369, 2387, 2391, 2392, 2396, 2403, 2406, 2408, 2410,
       2426, 2433, 2435, 2437, 2447, 2448, 2462, 2464, 2473, 2478, 2480,
       2485, 2487, 2490, 2494, 2509, 2512, 2517, 2518, 2528, 2536, 2537,
       2544, 2548, 2550, 2552, 2554, 2555, 2562, 2571, 2574, 2577, 2582,
       2583, 2584, 2589, 2594, 2598, 2602, 2618, 2621, 2633, 2637, 2638,
       2649, 2650, 2660, 2666, 2671, 2689, 2692, 2698, 2702, 2703, 2706,
       2707, 2714, 2724, 2742, 2744, 2759, 2764, 2777, 2778, 2786, 2789,
       2795, 2796, 2800, 2804, 2811, 2815, 2817, 2821, 2822, 2835, 2839,
       2847, 2852, 2862, 2863, 2865, 2869, 2895, 2902, 2903, 2908, 2918,
       2919, 2922, 2938, 2940, 2943, 2967, 2969, 2975, 2981, 2991, 2999,
       3002, 3007, 3012, 3016, 3019, 3025, 3028, 3033, 3046, 3047, 3051,
       3065, 3066, 3076, 3084, 3085, 3087, 3089, 3094, 3095, 3097, 3110,
       3121, 3122, 3130, 3133, 3139, 3142, 3145, 3153, 3157, 3161, 3165,
       3169, 3171, 3172, 3175, 3177, 3179, 3185, 3188, 3189, 3190, 3193,
       3194, 3196, 3198, 3206, 3209, 3212, 3221, 3223, 3224, 3226, 3243,
       3250, 3254, 3257, 3262, 3269, 3273, 3274, 3276, 3281, 3283, 3298,
       3299, 3300, 3301, 3303, 3319, 3321, 3332, 3339, 3345, 3349, 3356,
       3358, 3362, 3365, 3372, 3373, 3374, 3377, 3391, 3403, 3409, 3412,
       3414, 3415, 3418, 3423, 3434, 3441, 3448, 3453, 3454, 3455, 3457,
       3461, 3489, 3493, 3510, 3515, 3517, 3527, 3561, 3563, 3569, 3572,
       3579, 3601, 3609, 3610, 3620, 3622, 3628, 3632, 3640, 3641, 3643,
       3648, 3663, 3664, 3671, 3672, 3676, 3683, 3684, 3690, 3691, 3694,
       3701, 3704, 3708, 3713, 3723, 3729, 3732, 3735, 3746, 3765, 3772,
       3773, 3776, 3777, 3779, 3789, 3801, 3809, 3820, 3824, 3831, 3841,
       3844, 3845, 3846, 3858, 3862, 3869, 3870, 3872, 3879, 3882, 3884,
       3887, 3889, 3891, 3895, 3897, 3901, 3904, 3905, 3914, 3919, 3930,
       3935, 3943, 3947, 3956, 3957, 3963, 3967, 3981, 3988, 3992, 3993,
       3998, 4011, 4016, 4022, 4030, 4032, 4033, 4046, 4048, 4049, 4072,
       4088, 4094, 4103, 4115, 4120, 4136, 4158, 4160, 4161, 4166, 4170,
       4171, 4173, 4182, 4184, 4196, 4199, 4202, 4207, 4214, 4220, 4227,
       4232, 4233, 4236, 4249, 4253, 4254, 4257, 4258, 4267, 4273, 4275,
       4287, 4288, 4292, 4294, 4295, 4298, 4299, 4300, 4306, 4310, 4318,
       4320, 4337])

In [70]:
unique_elements = np.unique(common_elements)

In [71]:
unique_elements

array([  22,   39,   42,   54,   55,   61,   69,   75,   86,   96,   97,
        100,  103,  105,  110,  111,  115,  119,  124,  139,  143,  155,
        160,  165,  176,  177,  182,  189,  200,  203,  204,  205,  206,
        215,  223,  227,  233,  241,  243,  245,  252,  253,  264,  270,
        272,  273,  274,  282,  291,  293,  294,  296,  298,  304,  310,
        314,  325,  326,  344,  346,  386,  389,  390,  391,  393,  404,
        409,  410,  416,  425,  427,  430,  431,  436,  437,  441,  445,
        448,  453,  455,  457,  461,  465,  466,  468,  471,  473,  481,
        485,  492,  495,  499,  501,  504,  509,  510,  511,  512,  515,
        516,  518,  527,  534,  537,  550,  555,  558,  562,  565,  567,
        570,  573,  581,  584,  585,  601,  603,  623,  631,  633,  645,
        649,  658,  660,  662,  667,  668,  679,  691,  693,  694,  695,
        696,  719,  725,  726,  728,  731,  733,  738,  777,  779,  787,
        795,  796,  802,  821,  824,  829,  836,  841,  843,  844,  845,
        851,  852,  867,  884,  887,  889,  892,  899,  901,  915,  919,
        928,  929,  930,  935,  949,  951,  952,  954,  968,  971,  976,
        977,  981,  996,  997,  998, 1016, 1024, 1026, 1034, 1035, 1042,
       1046, 1047, 1054, 1055, 1056, 1059, 1064, 1070, 1094, 1098, 1102,
       1105, 1114, 1127, 1128, 1134, 1135, 1137, 1152, 1155, 1156, 1180,
       1186, 1187, 1196, 1197, 1201, 1209, 1211, 1216, 1219, 1231, 1234,
       1241, 1242, 1249, 1254, 1256, 1258, 1263, 1264, 1266, 1268, 1277,
       1282, 1283, 1288, 1292, 1294, 1298, 1301, 1303, 1318, 1334, 1338,
       1340, 1352, 1355, 1356, 1359, 1360, 1364, 1369, 1370, 1371, 1376,
       1380, 1383, 1384, 1385, 1389, 1395, 1400, 1408, 1418, 1422, 1428,
       1430, 1431, 1435, 1442, 1449, 1458, 1460, 1464, 1466, 1483, 1496,
       1498, 1500, 1505, 1508, 1511, 1516, 1537, 1540, 1552, 1587, 1589,
       1593, 1594, 1603, 1609, 1616, 1618, 1620, 1627, 1631, 1634, 1640,
       1650, 1662, 1669, 1674, 1690, 1700, 1707, 1713, 1714, 1717, 1719,
       1736, 1738, 1740, 1753, 1754, 1755, 1757, 1758, 1759, 1764, 1768,
       1771, 1778, 1780, 1784, 1796, 1798, 1801, 1808, 1812, 1819, 1820,
       1831, 1847, 1854, 1868, 1869, 1874, 1880, 1892, 1898, 1904, 1909,
       1925, 1929, 1938, 1949, 1951, 1955, 1960, 1964, 1965, 1969, 1971,
       1973, 1982, 1984, 1985, 1998, 1999, 2000, 2007, 2008, 2017, 2019,
       2026, 2034, 2037, 2040, 2042, 2044, 2048, 2051, 2064, 2067, 2072,
       2084, 2087, 2092, 2093, 2105, 2107, 2114, 2119, 2121, 2125, 2131,
       2132, 2140, 2150, 2158, 2161, 2163, 2166, 2171, 2173, 2177, 2178,
       2211, 2212, 2221, 2223, 2226, 2228, 2229, 2237, 2247, 2249, 2257,
       2266, 2308, 2313, 2321, 2325, 2329, 2331, 2337, 2339, 2350, 2352,
       2359, 2364, 2369, 2387, 2391, 2392, 2396, 2403, 2406, 2408, 2410,
       2426, 2433, 2435, 2437, 2447, 2448, 2462, 2464, 2473, 2478, 2480,
       2485, 2487, 2490, 2494, 2509, 2512, 2517, 2518, 2528, 2536, 2537,
       2544, 2548, 2550, 2552, 2554, 2555, 2562, 2571, 2574, 2577, 2582,
       2583, 2584, 2589, 2594, 2598, 2602, 2618, 2621, 2633, 2637, 2638,
       2649, 2650, 2660, 2666, 2671, 2689, 2692, 2698, 2702, 2703, 2706,
       2707, 2714, 2724, 2742, 2744, 2759, 2764, 2777, 2778, 2786, 2789,
       2795, 2796, 2800, 2804, 2811, 2815, 2817, 2821, 2822, 2835, 2839,
       2847, 2852, 2862, 2863, 2865, 2869, 2895, 2902, 2903, 2908, 2918,
       2919, 2922, 2938, 2940, 2943, 2967, 2969, 2975, 2981, 2991, 2999,
       3002, 3007, 3012, 3016, 3019, 3025, 3028, 3033, 3046, 3047, 3051,
       3065, 3066, 3076, 3084, 3085, 3087, 3089, 3094, 3095, 3097, 3110,
       3121, 3122, 3130, 3133, 3139, 3142, 3145, 3153, 3157, 3161, 3165,
       3169, 3171, 3172, 3175, 3177, 3179, 3185, 3188, 3189, 3190, 3193,
       3194, 3196, 3198, 3206, 3209, 3212, 3221, 3223, 3224, 3226, 3243,
       3250, 3254, 3257, 3262, 3269, 3273, 3274, 3276, 3281, 3283, 3298,
       3299, 3300, 3301, 3303, 3319, 3321, 3332, 3339, 3345, 3349, 3356,
       3358, 3362, 3365, 3372, 3373, 3374, 3377, 3391, 3403, 3409, 3412,
       3414, 3415, 3418, 3423, 3434, 3441, 3448, 3453, 3454, 3455, 3457,
       3461, 3489, 3493, 3510, 3515, 3517, 3527, 3561, 3563, 3569, 3572,
       3579, 3601, 3609, 3610, 3620, 3622, 3628, 3632, 3640, 3641, 3643,
       3648, 3663, 3664, 3671, 3672, 3676, 3683, 3684, 3690, 3691, 3694,
       3701, 3704, 3708, 3713, 3723, 3729, 3732, 3735, 3746, 3765, 3772,
       3773, 3776, 3777, 3779, 3789, 3801, 3809, 3820, 3824, 3831, 3841,
       3844, 3845, 3846, 3858, 3862, 3869, 3870, 3872, 3879, 3882, 3884,
       3887, 3889, 3891, 3895, 3897, 3901, 3904, 3905, 3914, 3919, 3930,
       3935, 3943, 3947, 3956, 3957, 3963, 3967, 3981, 3988, 3992, 3993,
       3998, 4011, 4016, 4022, 4030, 4032, 4033, 4046, 4048, 4049, 4072,
       4088, 4094, 4103, 4115, 4120, 4136, 4158, 4160, 4161, 4166, 4170,
       4171, 4173, 4182, 4184, 4196, 4199, 4202, 4207, 4214, 4220, 4227,
       4232, 4233, 4236, 4249, 4253, 4254, 4257, 4258, 4267, 4273, 4275,
       4287, 4288, 4292, 4294, 4295, 4298, 4299, 4300, 4306, 4310, 4318,
       4320, 4337])

In [72]:
diff_elements = [item for item in list2 if item not in list1]

In [75]:
len(diff_elements)

284

In [76]:
list2

array([   6,    8,   13, ..., 4320, 4337, 4338])

In [3]:
test_data

,CustomerID,StockCode,Month,rating,monthly_rating,user_id,item_id
369,12353,22890,2011-05,9,9,6,1733
370,12353,37446,2011-05,9,9,6,2500
371,12353,37449,2011-05,11,11,6,2503
372,12353,37450,2011-05,9,9,6,2504
431,12355,22423,2011-05,158,158,8,1288
...,...,...,...,...,...,...,...
363377,18287,84584,2011-05,4,4,4338,2907
363378,18287,84920,2011-05,2,2,4338,3077
363379,18287,85039A,2011-05,2,2,4338,3179
363381,18287,85039B,2011-05,4,4,4338,3180
363383,18287,85040A,2011-05,9,9,4338,3182

In [4]:
test_data['predict'] =  test_predictions

In [5]:
test_data

,CustomerID,StockCode,Month,rating,monthly_rating,user_id,item_id,predict
369,12353,22890,2011-05,9,9,6,1733,22.198454
370,12353,37446,2011-05,9,9,6,2500,28.968863
371,12353,37449,2011-05,11,11,6,2503,28.968863
372,12353,37450,2011-05,9,9,6,2504,28.968863
431,12355,22423,2011-05,158,158,8,1288,128.541931
...,...,...,...,...,...,...,...,...
363377,18287,84584,2011-05,4,4,4338,2907,21.271963
363378,18287,84920,2011-05,2,2,4338,3077,21.271963
363379,18287,85039A,2011-05,2,2,4338,3179,21.271963
363381,18287,85039B,2011-05,4,4,4338,3180,21.271963
363383,18287,85040A,2011-05,9,9,4338,3182,21.271963

In [6]:
filt = (test_data['StockCode'] == '85123A')

In [7]:
test_data[filt]

,CustomerID,StockCode,Month,rating,monthly_rating,user_id,item_id,predict
27857,12747,85123A,2011-05,176,176,325,3233,41.274250
31080,12748,85123A,2011-05,176,176,326,3233,15.705448
35313,12843,85123A,2011-05,176,176,393,3233,39.058033
36792,12868,85123A,2011-05,176,176,410,3233,45.752926
36805,12871,85123A,2011-05,176,176,411,3233,28.057581
...,...,...,...,...,...,...,...,...
359929,18219,85123A,2011-05,176,176,4288,3233,21.271963
361165,18231,85123A,2011-05,176,176,4300,3233,21.271963
361502,18239,85123A,2011-05,176,176,4306,3233,21.271963
361605,18241,85123A,2011-05,176,176,4308,3233,21.271963
361858,18245,85123A,2011-05,176,176,4310,3233,21.271963

In [9]:
filt = (test_data['StockCode'] == '22423')
test_data[filt]

,CustomerID,StockCode,Month,rating,monthly_rating,user_id,item_id,predict
431,12355,22423,2011-05,158,158,8,1288,128.541931
2806,12395,22423,2011-05,158,158,39,1288,121.120911
6360,12437,22423,2011-05,158,158,75,1288,128.604233
7917,12463,22423,2011-05,158,158,96,1288,120.981689
8135,12471,22423,2011-05,158,158,100,1288,117.641495
...,...,...,...,...,...,...,...,...
358807,18190,22423,2011-05,158,158,4267,1288,120.347015
359221,18202,22423,2011-05,158,158,4275,1288,120.347015
359855,18219,22423,2011-05,158,158,4288,1288,120.347015
359954,18221,22423,2011-05,158,158,4290,1288,120.347015
361079,18231,22423,2011-05,158,158,4300,1288,120.347015

In [8]:
filt = (train_data['StockCode'] == '85123A')
train_data[filt]

,CustomerID,StockCode,Month,rating,monthly_rating,user_id,item_id
1595,12370,85123A,2010-12,155,155,20,3233
5355,12428,85123A,2011-03,154,154,66,3233
7560,12455,85123A,2011-02,113,113,90,3233
7883,12462,85123A,2011-02,113,113,95,3233
10760,12484,85123A,2011-01,150,150,112,3233
...,...,...,...,...,...,...,...
361500,18239,85123A,2010-12,155,155,4306,3233
361501,18239,85123A,2011-01,150,150,4306,3233
361857,18245,85123A,2010-12,155,155,4310,3233
362341,18260,85123A,2011-01,150,150,4320,3233
363311,18283,85123A,2011-02,113,113,4337,3233

In [10]:
filt = (train_data['StockCode'] == '22423')
train_data[filt]

,CustomerID,StockCode,Month,rating,monthly_rating,user_id,item_id
67,12347,22423,2011-01,98,98,1,1288
68,12347,22423,2011-04,138,138,1,1288
318,12352,22423,2011-02,106,106,5,1288
471,12356,22423,2011-01,98,98,9,1288
472,12356,22423,2011-04,138,138,9,1288
...,...,...,...,...,...,...,...
360107,18223,22423,2011-02,106,106,4292,1288
361460,18239,22423,2011-01,98,98,4306,1288
361920,18250,22423,2011-02,106,106,4314,1288
362266,18260,22423,2011-01,98,98,4320,1288
362267,18260,22423,2011-04,138,138,4320,1288

In [11]:
random_values = np.random.choice(train_data['user_id'].values, size=100, replace=False)

In [12]:
random_values

array([ 115, 1993, 2391, 1159, 4009, 2077, 3213,  235, 2290, 2064, 2725,
        122, 1501, 1633, 3274,  340, 1874, 2034, 2621, 1555, 1443, 2166,
       1496,  634,  694, 2209,   55, 2508, 1880, 1026, 4262,  891, 1277,
        940, 3262,  626, 1537, 3172, 3582, 1542, 1450, 1548, 1126, 2415,
       3360, 1564, 3122, 3723, 2237, 1938, 3057, 3484,  223, 3967, 1606,
       1896, 3907, 2373, 4110, 4266,  311,  389, 1731,  515,  292,  155,
       1102, 3992, 2211, 3569, 3903, 2584, 2051, 2760,  562, 1074,  325,
       2223, 3259, 1880,  326, 3479, 2621,  391, 3510, 3371, 2420, 2308,
       3089,  154, 3786, 2690,  340, 3205, 3794, 3956,  915, 3179, 1969,
       2145])

In [13]:
repeated_values = np.repeat(random_values, 3665)

In [14]:
repeated_values

array([ 115,  115,  115, ..., 2145, 2145, 2145])

In [16]:
random_values = np.random.choice(train_data['user_id'].values, size=1000, replace=False)
repeated_values = np.repeat(random_values, 3665)
test_data = pd.DataFrame()
test_data['user_id'] = repeated_values
test_data['item_id'] = np.tile(np.arange(3665), len(random_values))

In [17]:
test_data

         user_id  item_id
0           2827        0
1           2827        1
2           2827        2
3           2827        3
4           2827        4
...          ...      ...
3664995     3970     3660
3664996     3970     3661
3664997     3970     3662
3664998     3970     3663
3664999     3970     3664

[3665000 rows x 2 columns]