In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_excel('./Online Retail.xlsx')

In [3]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [4]:
df['Country'].value_counts()

Country
United Kingdom          495478
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: count, dtype: int64

In [5]:
df['InvoiceNo']

0         536365
1         536365
2         536365
3         536365
4         536365
           ...
541904    581587
541905    581587
541906    581587
541907    581587
541908    581587
Name: InvoiceNo, Length: 541909, dtype: object

In [6]:
mask = df['InvoiceNo'].str.startswith('C')
mask = pd.DataFrame(mask)
nan_mask = mask.apply(lambda x: pd.isna(x))
num = 0
F_num = 0
for index, value in nan_mask.iterrows():
    if value['InvoiceNo'] == True:
       num += 1
    else:
        F_num += 1
print(num, F_num)

532618 9291

In [7]:
df = df[nan_mask.values]

In [8]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [9]:
df['StockCode'].value_counts()

StockCode
85123A    2271
85099B    2115
22423     2022
47566     1707
20725     1595
          ...
21274        1
84845D       1
84876C       1
20678        1
23843        1
Name: count, Length: 4058, dtype: int64

In [10]:
df['Description'].value_counts()

Description
WHITE HANGING HEART T-LIGHT HOLDER    2327
JUMBO BAG RED RETROSPOT               2115
REGENCY CAKESTAND 3 TIER              2019
PARTY BUNTING                         1707
LUNCH BAG RED RETROSPOT               1594
                                      ...
CRYSTAL CHANDELIER T-LIGHT HOLDER        1
PURPLE CHUNKY GLASS+BEAD NECKLACE        1
IVORY PANTRY HANGING LAMP                1
GREEN PENDANT SHELL NECKLACE             1
PAPER CRAFT , LITTLE BIRDIE              1
Name: count, Length: 4206, dtype: int64

In [11]:
num = 0
list = []
for row, value in df.iterrows():
    if df.loc[row, 'Quantity'] < 0:
        num += 1
        list.append(row)
num

1336

In [12]:
list

[2406,
 4347,
 7188,
 7189,
 7190,
 7192,
 7193,
 7195,
 7196,
 7197,
 7198,
 7199,
 7200,
 7201,
 7202,
 7203,
 7204,
 7205,
 7206,
 7207,
 7208,
 7209,
 7210,
 7211,
 7212,
 7213,
 7291,
 7292,
 7293,
 7313,
 12069,
 12070,
 12934,
 13217,
 13218,
 13219,
 13264,
 14060,
 14061,
 14062,
 14063,
 14064,
 14065,
 14066,
 14217,
 17158,
 19599,
 19996,
 20393,
 20394,
 20399,
 20400,
 20469,
 20470,
 20506,
 20522,
 21338,
 21349,
 21518,
 21520,
 22293,
 22294,
 22296,
 22297,
 22534,
 23764,
 23765,
 29972,
 31226,
 42289,
 42498,
 42499,
 42500,
 42503,
 42504,
 42562,
 42563,
 42564,
 42566,
 43662,
 43704,
 44863,
 45150,
 45623,
 46883,
 50151,
 50806,
 50808,
 50849,
 51048,
 51049,
 51672,
 51673,
 51762,
 51763,
 52094,
 52095,
 52379,
 55189,
 55319,
 55837,
 61702,
 61838,
 63099,
 64320,
 64321,
 65063,
 65077,
 65943,
 66518,
 68920,
 69215,
 72006,
 73589,
 73590,
 73593,
 73604,
 73605,
 73753,
 73754,
 73849,
 73850,
 73935,
 74283,
 74284,
 74287,
 74288,
 74668,
 74825,
 74838,
 74839,
 75220,
 75222,
 75223,
 75224,
 75226,
 75227,
 75228,
 75229,
 75230,
 75231,
 75232,
 75233,
 75234,
 75235,
 75236,
 75237,
 75238,
 75239,
 75240,
 75241,
 75242,
 75243,
 75252,
 75253,
 75254,
 75255,
 75256,
 75257,
 75258,
 75259,
 75260,
 75292,
 75293,
 75294,
 75295,
 78235,
 78424,
 78456,
 78457,
 78458,
 78459,
 80302,
 80303,
 82251,
 82794,
 82796,
 82797,
 82798,
 82799,
 82827,
 82828,
 82831,
 82832,
 82833,
 83504,
 83562,
 84409,
 85787,
 86322,
 86513,
 87404,
 87405,
 87406,
 88203,
 89118,
 90556,
 90697,
 91072,
 94300,
 94301,
 94304,
 94305,
 94587,
 94765,
 96374,
 96679,
 97643,
 99161,
 100714,
 100747,
 104083,
 104084,
 105334,
 105719,
 107041,
 107042,
 108577,
 108578,
 108579,
 108580,
 108589,
 108591,
 108682,
 108683,
 108684,
 108685,
 108686,
 108687,
 108688,
 108689,
 109344,
 109345,
 109346,
 112036,
 113580,
 114428,
 114493,
 114522,
 114534,
 114535,
 114538,
 114539,
 114540,
 115488,
 115489,
 115504,
 115505,
 115805,
 115806,
 115808,
 115810,
 115811,
 115812,
 115813,
 115814,
 115815,
 115816,
 115817,
 115818,
 116406,
 117315,
 117894,
 117896,
 119556,
 120580,
 120762,
 121360,
 128446,
 128447,
 128448,
 128449,
 128450,
 128463,
 128464,
 128465,
 128466,
 128467,
 128473,
 128478,
 128479,
 128480,
 128876,
 128947,
 130079,
 130370,
 130736,
 130737,
 131398,
 131399,
 131699,
 131701,
 131702,
 131703,
 131704,
 131705,
 131706,
 131707,
 131708,
 131771,
 132812,
 132813,
 132814,
 135862,
 136271,
 136831,
 136878,
 136879,
 136880,
 136881,
 136882,
 136883,
 136884,
 136886,
 136966,
 137183,
 137184,
 137185,
 137186,
 137187,
 137240,
 137905,
 137907,
 138694,
 138714,
 138909,
 139064,
 139595,
 139716,
 139907,
 139908,
 139936,
 140194,
 140196,
 140197,
 140199,
 140200,
 140201,
 140211,
 140281,
 140282,
 140283,
 140284,
 140285,
 140353,
 142004,
 142005,
 142008,
 142584,
 142631,
 142797,
 142989,
 143301,
 143302,
 143303,
 143304,
 143305,
 143306,
 143308,
 143310,
 143311,
 143342,
 145256,
 145257,
 145258,
 145259,
 145260,
 145735,
 146237,
 146360,
 146469,
 146599,
 146600,
 146601,
 146604,
 146605,
 146606,
 146627,
 146628,
 146629,
 146630,
 146977,
 146978,
 146979,
 146980,
 146981,
 146982,
 146984,
 146985,
 146986,
 146987,
 146993,
 146994,
 147787,
 147788,
 147789,
 147791,
 147792,
 147794,
 147797,
 147798,
 147799,
 147801,
 147802,
 147826,
 147827,
 148080,
 148081,
 148082,
 148083,
 148084,
 148085,
 148089,
 148090,
 148092,
 148093,
 148106,
 148107,
 148108,
 148109,
 148110,
 148111,
 148112,
 148114,
 148115,
 148116,
 148563,
 149043,
 149044,
 149046,
 149047,
 149050,
 149051,
 150144,
 150146,
 150147,
 150148,
 150149,
 150150,
 150151,
 150152,
 150153,
 150154,
 150156,
 150158,
 150159,
 150160,
 150161,
 150169,
 150220,
 150239,
 150240,
 150241,
 150349,
 150350,
 150594,
 150595,
 150596,
 150597,
 150599,
 150600,
 150601,
 150602,
 150603,
 150604,
 150605,
 150616,
 150627,
 150628,
 150629,
 151033,
 151034,
 151035,
 151038,
 152856,
 154122,
 154152,
 154153,
 154656,
 154799,
 154835,
 154860,
 156350,
 156618,
 165021,
 165032,
 165033,
 165034,
 165035,
 165037,
 165038,
 165448,
 166266,
 166486,
 166619,
 166626,
 166836,
 167057,
 168324,
 168325,
 169160,
 169680,
 169715,
 170484,
 170537,
 170541,
 170542,
 170543,
 171492,
 171573,
 171574,
 171575,
 171576,
 171577,
 171578,
 171579,
 171713,
 171714,
 171715,
 171716,
 171720,
 171721,
 171722,
 171723,
 171724,
 171725,
 171726,
 171727,
 171728,
 171729,
 171730,
 171731,
 171733,
 171735,
 172692,
 172693,
 172861,
 172867,
 172868,
 172869,
 172870,
 172871,
 172872,
 172873,
 172874,
 172876,
 172877,
 172878,
 172879,
 172881,
 172882,
 172913,
 172919,
 173241,
 173242,
 173265,
 173267,
 173269,
 173271,
 173272,
 173325,
 173326,
 173352,
 173392,
 173393,
 173409,
 173410,
 173848,
 173849,
 174044,
 174654,
 174655,
 177228,
 177289,
 177998,
 177999,
 178000,
 178012,
 178013,
 178015,
 178016,
 178017,
 178018,
 178019,
 178020,
 178022,
 180618,
 181042,
 183217,
 185113,
 185149,
 185167,
 185168,
 185169,
 187583,
 188515,
 189299,
 192166,
 192289,
 192290,
 192291,
 192293,
 192294,
 192295,
 192296,
 192434,
 193997,
 194509,
 194510,
 194638,
 195793,
 195794,
 198214,
 198242,
 198243,
 198245,
 198246,
 200352,
 200446,
 200562,
 200563,
 200564,
 201252,
 201488,
 201551,
 201738,
 201739,
 201740,
 201741,
 201752,
 201753,
 201754,
 201755,
 201756,
 201757,
 201841,
 202089,
 202495,
 202599,
 203752,
 203761,
 203839,
 204598,
 204599,
 204601,
 204602,
 204603,
 204604,
 205953,
 206179,
 206311,
 210959,
 210960,
 210961,
 210962,
 210963,
 210964,
 211571,
 211593,
 212679,
 212681,
 212682,
 216129,
 216130,
 216131,
 216132,
 216276,
 218100,
 218102,
 218103,
 218104,
 218477,
 218699,
 218794,
 218874,
 220141,
 220142,
 220143,
 220844,
 220845,
 221186,
 221643,
 221644,
 221645,
 221876,
 221877,
 221896,
 221920,
 221959,
 221960,
 221961,
 222006,
 222007,
 222008,
 222009,
 222010,
 222011,
 222012,
 222013,
 222014,
 222015,
 222016,
 222017,
 222034,
 222035,
 222036,
 222037,
 225528,
 225529,
 225530,
 227588,
 228733,
 228734,
 228879,
 229287,
 229333,
 229334,
 229335,
 229336,
 229380,
 229381,
 229728,
 232920,
 233055,
 234739,
 234740,
 234764,
 234765,
 236413,
 236762,
 236763,
 236794,
 237200,
 237286,
 239229,
 239230,
 239231,
 241679,
 241839,
 241999,
 242056,
 242057,
 242058,
 242059,
 242190,
 242904,
 242905,
 242906,
 243332,
 243333,
 243342,
 243343,
 243345,
 243390,
 243523,
 244260,
 244261,
 244398,
 246772,
 246782,
 246797,
 246853,
 246901,
 246902,
 246903,
 249244,
 254446,
 255772,
 255899,
 255900,
 255901,
 255902,
 255904,
 255905,
 255906,
 255907,
 255935,
 255936,
 255937,
 255938,
 256025,
 258540,
 259969,
 263184,
 263870,
 263884,
 264421,
 264704,
 264705,
 264706,
 264707,
 264708,
 265293,
 265294,
 265295,
 268450,
 268451,
 268452,
 268473,
 268474,
 269195,
 270742,
 270886,
 271791,
 271818,
 271822,
 272078,
 272157,
 273442,
 273443,
 273911,
 274544,
 275219,
 275220,
 275221,
 277041,
 277345,
 277389,
 277390,
 277394,
 279251,
 279252,
 279253,
 279254,
 279255,
 279256,
 279257,
 279258,
 279510,
 279637,
 279709,
 279752,
 280652,
 280653,
 280655,
 280656,
 280657,
 280658,
 280659,
 280661,
 280720,
 280721,
 280745,
 280747,
 280748,
 280749,
 280750,
 280752,
 280754,
 280756,
 280757,
 280820,
 280821,
 280822,
 280823,
 281449,
 281450,
 281451,
 281452,
 281453,
 281551,
 281569,
 281570,
 281571,
 281572,
 281592,
 281614,
 281615,
 281616,
 281887,
 282290,
 282291,
 282875,
 282904,
 283806,
 285724,
 285725,
 285726,
 285727,
 285790,
 285886,
 288519,
 288872,
 289689,
 289690,
 290106,
 290579,
 290580,
 290581,
 290582,
 290583,
 290639,
 290640,
 291606,
 291607,
 292266,
 292269,
 292270,
 292271,
 293905,
 295405,
 296208,
 299644,
 301165,
 302846,
 305195,
 305196,
 305607,
 305626,
 305830,
 314906,
 319895,
 320576,
 320585,
 320586,
 320588,
 320589,
 320594,
 320595,
 320619,
 320620,
 320621,
 320693,
 320695,
 320696,
 323241,
 323389,
 323390,
 323391,
 323458,
 323461,
 323462,
 323463,
 323469,
 323493,
 323872,
 323873,
 324024,
 324131,
 331018,
 331029,
 332406,
 332407,
 332408,
 332823,
 332824,
 337534,
 338957,
 340681,
 340682,
 340683,
 341596,
 341597,
 341598,
 341599,
 341600,
 341601,
 343999,
 344382,
 344383,
 344384,
 344385,
 344386,
 344435,
 344867,
 344884,
 344928,
 345011,
 345107,
 345179,
 345180,
 347977,
 347978,
 347979,
 347983,
 350350,
 350504,
 352827,
 352828,
 352829,
 352830,
 353039,
 354119,
 354120,
 355331,
 355335,
 355345,
 355354,
 355356,
 355421,
 355422,
 355423,
 356448,
 357315,
 357316,
 357317,
 357356,
 357367,
 357368,
 357369,
 ...]

In [13]:
df = df.drop(list)

In [14]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [15]:
df['StockCode'].value_counts()

StockCode
85123A      2270
85099B      2115
22423       2019
47566       1707
20725       1595
            ...
DCGS0004       1
84705C         1
90035C         1
84661a         1
23843          1
Name: count, Length: 3940, dtype: int64

In [16]:
df['Description'].value_counts()

Description
WHITE HANGING HEART T-LIGHT HOLDER    2327
JUMBO BAG RED RETROSPOT               2115
REGENCY CAKESTAND 3 TIER              2019
PARTY BUNTING                         1707
LUNCH BAG RED RETROSPOT               1594
                                      ...
GREEN PENDANT SHELL NECKLACE             1
MINT DINER CLOCK                         1
PURPLE CHUNKY GLASS+BEAD NECKLACE        1
ETCHED GLASS STAR TREE DECORATION        1
PAPER CRAFT , LITTLE BIRDIE              1
Name: count, Length: 4076, dtype: int64

In [17]:
filter = df['StockCode'] == '85123a'

In [18]:
df['StockCode'].dtypes

dtype('O')

In [19]:
df[filter]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
6964,536982,85123a,WHITE HANGING HEART T-LIGHT HOLDER,35,2010-12-03 14:27:00,6.77,NaN,United Kingdom
15781,537640,85123a,WHITE HANGING HEART T-LIGHT HOLDER,46,2010-12-07 15:31:00,6.77,NaN,United Kingdom
25076,538351,85123a,WHITE HANGING HEART T-LIGHT HOLDER,31,2010-12-10 15:17:00,6.77,NaN,United Kingdom
30720,538877,85123a,WHITE HANGING HEART T-LIGHT HOLDER,5,2010-12-14 15:29:00,6.77,NaN,United Kingdom
41046,539750,85123a,WHITE HANGING HEART T-LIGHT HOLDER,1,2010-12-21 15:40:00,6.77,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
514895,579751,85123a,WHITE HANGING HEART T-LIGHT HOLDER,2,2011-11-30 14:46:00,6.63,NaN,United Kingdom
524888,580610,85123a,WHITE HANGING HEART T-LIGHT HOLDER,12,2011-12-05 11:48:00,6.63,NaN,United Kingdom
525131,580612,85123a,WHITE HANGING HEART T-LIGHT HOLDER,3,2011-12-05 11:58:00,6.63,NaN,United Kingdom
533489,581023,85123a,WHITE HANGING HEART T-LIGHT HOLDER,2,2011-12-07 10:35:00,6.63,NaN,United Kingdom
537251,581238,85123a,WHITE HANGING HEART T-LIGHT HOLDER,7,2011-12-08 10:53:00,6.63,NaN,United Kingdom

In [20]:
filter = df['Description'] == 'WHITE HANGING HEART T-LIGHT HOLDER'

In [21]:
df[filter]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850.0,United Kingdom
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:32:00,2.55,17850.0,United Kingdom
220,536390,85123A,WHITE HANGING HEART T-LIGHT HOLDER,64,2010-12-01 10:19:00,2.55,17511.0,United Kingdom
262,536394,85123A,WHITE HANGING HEART T-LIGHT HOLDER,32,2010-12-01 10:39:00,2.55,13408.0,United Kingdom
...,...,...,...,...,...,...,...,...
537291,581246,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1,2011-12-08 10:59:00,2.95,15453.0,United Kingdom
537326,581253,85123A,WHITE HANGING HEART T-LIGHT HOLDER,2,2011-12-08 11:15:00,2.95,16891.0,United Kingdom
537852,581356,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2011-12-08 12:28:00,2.95,17830.0,United Kingdom
539979,581452,85123A,WHITE HANGING HEART T-LIGHT HOLDER,32,2011-12-08 18:03:00,2.55,17675.0,United Kingdom
540217,581472,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2011-12-08 19:55:00,2.95,15796.0,United Kingdom

In [22]:
filter = df['StockCode'] == '85123A'
filter2 = df['Description'] == 'WHITE HANGING HEART T-LIGHT HOLDER'
df[filter][~filter2]

/tmp/ipykernel_9764/814404790.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[filter][~filter2]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
220843,556231,85123A,?,4000,2011-06-09 15:04:00,0.00,NaN,United Kingdom
537621,581334,85123A,CREAM HANGING HEART T-LIGHT HOLDER,4,2011-12-08 12:07:00,2.95,17841.0,United Kingdom
538084,581395,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2011-12-08 13:18:00,2.95,16892.0,United Kingdom
538214,581402,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2011-12-08 13:45:00,2.95,14653.0,United Kingdom
538270,581404,85123A,CREAM HANGING HEART T-LIGHT HOLDER,4,2011-12-08 13:47:00,2.95,13680.0,United Kingdom
538708,581412,85123A,CREAM HANGING HEART T-LIGHT HOLDER,4,2011-12-08 14:38:00,2.95,14415.0,United Kingdom
539083,581432,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2011-12-08 15:51:00,2.55,13798.0,United Kingdom
539342,581439,85123A,CREAM HANGING HEART T-LIGHT HOLDER,1,2011-12-08 16:30:00,5.79,NaN,United Kingdom
540837,581492,85123A,CREAM HANGING HEART T-LIGHT HOLDER,3,2011-12-09 10:03:00,5.79,NaN,United Kingdom
541639,581538,85123A,CREAM HANGING HEART T-LIGHT HOLDER,1,2011-12-09 11:34:00,2.95,14446.0,United Kingdom

In [23]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [24]:
list = []
num = 0
for row, index in df.iterrows():
    if np.isnan(df.loc[row, 'CustomerID']):
        num += 1
        list.append(row)
num

133358

In [25]:
list

[622,
 1443,
 1444,
 1445,
 1446,
 1447,
 1448,
 1449,
 1450,
 1451,
 1452,
 1453,
 1454,
 1455,
 1456,
 1457,
 1458,
 1459,
 1460,
 1461,
 1462,
 1463,
 1464,
 1465,
 1466,
 1467,
 1468,
 1469,
 1470,
 1471,
 1472,
 1473,
 1474,
 1475,
 1476,
 1477,
 1478,
 1479,
 1480,
 1481,
 1482,
 1483,
 1484,
 1485,
 1486,
 1487,
 1488,
 1489,
 1490,
 1491,
 1492,
 1493,
 1494,
 1495,
 1496,
 1497,
 1498,
 1499,
 1500,
 1501,
 1502,
 1503,
 1504,
 1505,
 1506,
 1507,
 1508,
 1509,
 1510,
 1511,
 1512,
 1513,
 1514,
 1515,
 1516,
 1517,
 1518,
 1519,
 1520,
 1521,
 1522,
 1523,
 1524,
 1525,
 1526,
 1527,
 1528,
 1529,
 1530,
 1531,
 1532,
 1533,
 1534,
 1535,
 1536,
 1537,
 1538,
 1539,
 1540,
 1541,
 1542,
 1543,
 1544,
 1545,
 1546,
 1547,
 1548,
 1549,
 1550,
 1551,
 1552,
 1553,
 1554,
 1555,
 1556,
 1557,
 1558,
 1559,
 1560,
 1561,
 1562,
 1563,
 1564,
 1565,
 1566,
 1567,
 1568,
 1569,
 1570,
 1571,
 1572,
 1573,
 1574,
 1575,
 1576,
 1577,
 1578,
 1579,
 1580,
 1581,
 1582,
 1583,
 1584,
 1585,
 1586,
 1587,
 1588,
 1589,
 1590,
 1591,
 1592,
 1593,
 1594,
 1595,
 1596,
 1597,
 1598,
 1599,
 1600,
 1601,
 1602,
 1603,
 1604,
 1605,
 1606,
 1607,
 1608,
 1609,
 1610,
 1611,
 1612,
 1613,
 1614,
 1615,
 1616,
 1617,
 1618,
 1619,
 1620,
 1621,
 1622,
 1623,
 1624,
 1625,
 1626,
 1627,
 1628,
 1629,
 1630,
 1631,
 1632,
 1633,
 1634,
 1635,
 1636,
 1637,
 1638,
 1639,
 1640,
 1641,
 1642,
 1643,
 1644,
 1645,
 1646,
 1647,
 1648,
 1649,
 1650,
 1651,
 1652,
 1653,
 1654,
 1655,
 1656,
 1657,
 1658,
 1659,
 1660,
 1661,
 1662,
 1663,
 1664,
 1665,
 1666,
 1667,
 1668,
 1669,
 1670,
 1671,
 1672,
 1673,
 1674,
 1675,
 1676,
 1677,
 1678,
 1679,
 1680,
 1681,
 1682,
 1683,
 1684,
 1685,
 1686,
 1687,
 1688,
 1689,
 1690,
 1691,
 1692,
 1693,
 1694,
 1695,
 1696,
 1697,
 1698,
 1699,
 1700,
 1701,
 1702,
 1703,
 1704,
 1705,
 1706,
 1707,
 1708,
 1709,
 1710,
 1711,
 1712,
 1713,
 1714,
 1715,
 1716,
 1717,
 1718,
 1719,
 1720,
 1721,
 1722,
 1723,
 1724,
 1725,
 1726,
 1727,
 1728,
 1729,
 1730,
 1731,
 1732,
 1733,
 1734,
 1735,
 1736,
 1737,
 1738,
 1739,
 1740,
 1741,
 1742,
 1743,
 1744,
 1745,
 1746,
 1747,
 1748,
 1749,
 1750,
 1751,
 1752,
 1753,
 1754,
 1755,
 1756,
 1757,
 1758,
 1759,
 1760,
 1761,
 1762,
 1763,
 1764,
 1765,
 1766,
 1767,
 1768,
 1769,
 1770,
 1771,
 1772,
 1773,
 1774,
 1775,
 1776,
 1777,
 1778,
 1779,
 1780,
 1781,
 1782,
 1783,
 1784,
 1785,
 1786,
 1787,
 1788,
 1789,
 1790,
 1791,
 1792,
 1793,
 1794,
 1795,
 1796,
 1797,
 1798,
 1799,
 1800,
 1801,
 1802,
 1803,
 1804,
 1805,
 1806,
 1807,
 1808,
 1809,
 1810,
 1811,
 1812,
 1813,
 1814,
 1815,
 1816,
 1817,
 1818,
 1819,
 1820,
 1821,
 1822,
 1823,
 1824,
 1825,
 1826,
 1827,
 1828,
 1829,
 1830,
 1831,
 1832,
 1833,
 1834,
 1835,
 1836,
 1837,
 1838,
 1839,
 1840,
 1841,
 1842,
 1843,
 1844,
 1845,
 1846,
 1847,
 1848,
 1849,
 1850,
 1851,
 1852,
 1853,
 1854,
 1855,
 1856,
 1857,
 1858,
 1859,
 1860,
 1861,
 1862,
 1863,
 1864,
 1865,
 1866,
 1867,
 1868,
 1869,
 1870,
 1871,
 1872,
 1873,
 1874,
 1875,
 1876,
 1877,
 1878,
 1879,
 1880,
 1881,
 1882,
 1883,
 1884,
 1885,
 1886,
 1887,
 1888,
 1889,
 1890,
 1891,
 1892,
 1893,
 1894,
 1895,
 1896,
 1897,
 1898,
 1899,
 1900,
 1901,
 1902,
 1903,
 1904,
 1905,
 1906,
 1907,
 1908,
 1909,
 1910,
 1911,
 1912,
 1913,
 1914,
 1915,
 1916,
 1917,
 1918,
 1919,
 1920,
 1921,
 1922,
 1923,
 1924,
 1925,
 1926,
 1927,
 1928,
 1929,
 1930,
 1931,
 1932,
 1933,
 1934,
 1935,
 1936,
 1937,
 1938,
 1939,
 1940,
 1941,
 1942,
 1943,
 1944,
 1945,
 1946,
 1947,
 1948,
 1949,
 1950,
 1951,
 1952,
 1953,
 1954,
 1955,
 1956,
 1957,
 1958,
 1959,
 1960,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1987,
 1988,
 2024,
 2025,
 2026,
 2027,
 2028,
 2102,
 2169,
 2170,
 2461,
 2462,
 2463,
 2464,
 2465,
 2466,
 2467,
 2468,
 2469,
 2470,
 2471,
 2472,
 2473,
 2474,
 2475,
 2476,
 2477,
 2478,
 2479,
 2480,
 2481,
 2482,
 2483,
 2484,
 2485,
 2486,
 2487,
 2488,
 2489,
 2490,
 2491,
 2492,
 2493,
 2494,
 2495,
 2496,
 2497,
 2498,
 2499,
 2500,
 2501,
 2502,
 2503,
 2504,
 2505,
 2506,
 2507,
 2508,
 2509,
 2510,
 2511,
 2512,
 2513,
 2514,
 2515,
 2516,
 2517,
 2518,
 2519,
 2520,
 2521,
 2522,
 2523,
 2524,
 2525,
 2526,
 2527,
 2528,
 2529,
 2530,
 2531,
 2532,
 2533,
 2534,
 2535,
 2536,
 2537,
 2538,
 2539,
 2540,
 2541,
 2542,
 2543,
 2544,
 2545,
 2546,
 2547,
 2548,
 2549,
 2550,
 2551,
 2552,
 2553,
 2554,
 2555,
 2556,
 2557,
 2558,
 2559,
 2560,
 2561,
 2562,
 2563,
 2564,
 2565,
 2566,
 2567,
 2568,
 2569,
 2570,
 2571,
 2572,
 2573,
 2574,
 2575,
 2576,
 2577,
 2578,
 2579,
 2580,
 2581,
 2582,
 2583,
 2584,
 2585,
 2586,
 2587,
 2588,
 2589,
 2590,
 2591,
 2592,
 2593,
 2594,
 2595,
 2596,
 2597,
 2598,
 2599,
 2600,
 2601,
 2602,
 2603,
 2604,
 2605,
 2606,
 2607,
 2608,
 2609,
 2610,
 2611,
 2612,
 2613,
 2614,
 2615,
 2616,
 2617,
 2618,
 2619,
 2620,
 2621,
 2622,
 2623,
 2624,
 2625,
 2626,
 2627,
 2628,
 2629,
 2630,
 2631,
 2632,
 2633,
 2634,
 2635,
 2636,
 2637,
 2638,
 2639,
 2640,
 2641,
 2642,
 2643,
 2644,
 2645,
 2646,
 2647,
 2648,
 2649,
 2650,
 2651,
 2652,
 2653,
 2654,
 2655,
 2656,
 2657,
 2658,
 2659,
 2660,
 2661,
 2662,
 2663,
 2664,
 2665,
 2666,
 2667,
 2668,
 2669,
 2670,
 2671,
 2672,
 2673,
 2674,
 2675,
 2676,
 2677,
 2678,
 2679,
 2680,
 2681,
 2682,
 2683,
 2684,
 2685,
 2686,
 2687,
 2688,
 2689,
 2690,
 2691,
 2692,
 2693,
 2694,
 2695,
 2696,
 2697,
 2698,
 2699,
 2700,
 2701,
 2702,
 2703,
 2704,
 2705,
 2706,
 2707,
 2708,
 2709,
 2710,
 2711,
 2712,
 2713,
 2714,
 2715,
 2716,
 2717,
 2718,
 2719,
 2720,
 2721,
 2722,
 2723,
 2724,
 2725,
 2726,
 2727,
 2728,
 2729,
 2730,
 2731,
 2732,
 2733,
 2734,
 2735,
 2736,
 2737,
 2738,
 2739,
 2740,
 2741,
 2742,
 2743,
 2744,
 2745,
 2746,
 2747,
 2748,
 2749,
 2750,
 2751,
 2752,
 2753,
 2754,
 2755,
 2756,
 2757,
 2758,
 2759,
 2760,
 2761,
 2762,
 2763,
 2764,
 2765,
 2766,
 2767,
 2768,
 2769,
 2770,
 2771,
 2772,
 2773,
 2774,
 2775,
 2776,
 2777,
 2778,
 2779,
 2780,
 2781,
 2782,
 2783,
 2784,
 2785,
 2786,
 2787,
 2788,
 2789,
 2790,
 2791,
 2792,
 2793,
 2794,
 2795,
 2796,
 2797,
 2798,
 2799,
 2800,
 2801,
 2802,
 2803,
 2804,
 2805,
 2806,
 2807,
 2808,
 2809,
 2810,
 2811,
 2812,
 2813,
 2814,
 2815,
 2816,
 2817,
 2818,
 2819,
 2820,
 2821,
 2822,
 2823,
 2824,
 2825,
 2826,
 2827,
 2828,
 2829,
 2830,
 2831,
 2832,
 2833,
 2834,
 2835,
 2836,
 2837,
 2838,
 2839,
 2840,
 2841,
 2842,
 2843,
 2844,
 2845,
 2846,
 2847,
 2848,
 2849,
 2850,
 2851,
 2852,
 2853,
 2854,
 2855,
 2856,
 2857,
 2858,
 2859,
 2860,
 2861,
 2862,
 2863,
 2864,
 2865,
 2866,
 2867,
 2868,
 2869,
 2870,
 2871,
 2872,
 2873,
 2874,
 2875,
 2876,
 2877,
 2878,
 2879,
 2880,
 2881,
 2882,
 2883,
 2884,
 2885,
 2886,
 2887,
 2888,
 2889,
 2890,
 2891,
 2892,
 2893,
 2894,
 2895,
 2896,
 2897,
 2898,
 2899,
 2900,
 2901,
 2902,
 2903,
 2904,
 2905,
 2906,
 2907,
 2908,
 2909,
 2910,
 2911,
 2912,
 2913,
 2914,
 2915,
 2916,
 2917,
 2918,
 2919,
 ...]

In [26]:
np.isnan(df.loc[220843, 'CustomerID'])

True

In [27]:
df.to_excel('./handled_data1.xlsx')

In [28]:
filter = (df['UnitPrice'] == 0)

In [29]:
df[filter]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,2010-12-01 11:52:00,0.0,NaN,United Kingdom
1970,536545,21134,NaN,1,2010-12-01 14:32:00,0.0,NaN,United Kingdom
1971,536546,22145,NaN,1,2010-12-01 14:33:00,0.0,NaN,United Kingdom
1972,536547,37509,NaN,1,2010-12-01 14:33:00,0.0,NaN,United Kingdom
1987,536549,85226A,NaN,1,2010-12-01 14:34:00,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
535334,581211,22142,check,14,2011-12-07 18:36:00,0.0,NaN,United Kingdom
536981,581234,72817,NaN,27,2011-12-08 10:33:00,0.0,NaN,United Kingdom
538504,581406,46000M,POLYESTER FILLER PAD 45x45cm,240,2011-12-08 13:58:00,0.0,NaN,United Kingdom
538505,581406,46000S,POLYESTER FILLER PAD 40x40cm,300,2011-12-08 13:58:00,0.0,NaN,United Kingdom
538554,581408,85175,NaN,20,2011-12-08 14:06:00,0.0,NaN,United Kingdom

In [30]:
df['Description'].value_counts()

Description
WHITE HANGING HEART T-LIGHT HOLDER    2327
JUMBO BAG RED RETROSPOT               2115
REGENCY CAKESTAND 3 TIER              2019
PARTY BUNTING                         1707
LUNCH BAG RED RETROSPOT               1594
                                      ...
GREEN PENDANT SHELL NECKLACE             1
MINT DINER CLOCK                         1
PURPLE CHUNKY GLASS+BEAD NECKLACE        1
ETCHED GLASS STAR TREE DECORATION        1
PAPER CRAFT , LITTLE BIRDIE              1
Name: count, Length: 4076, dtype: int64

In [31]:
df['StockCode'].value_counts()

StockCode
85123A      2270
85099B      2115
22423       2019
47566       1707
20725       1595
            ...
DCGS0004       1
84705C         1
90035C         1
84661a         1
23843          1
Name: count, Length: 3940, dtype: int64

In [32]:
nan_rows = df[df.isna().any(axis=1)]

In [33]:
equal = []
for row, index in nan_rows.iterrows():
    if row - 1 >= 0:
        if nan_rows.loc[row - 1, 'StockCode'] == nan_rows.loc[row, 'StockCode']:
            print(row)
            equal.append(row)

KeyError: 621

In [ ]:
nan_rows.loc[0, 'StockCode']

In [ ]:
nan_rows

In [ ]:
nan_rows = pd.DataFrame(nan_rows)

In [ ]:
nan_rows.loc[0, 'StockCode']

In [ ]:
nan_rows.reset_index(inplace=True)

In [ ]:
nan_rows

In [ ]:
equal

In [ ]:
df

In [ ]:
list = [df['Description'].unique.values]

In [ ]:
df['Description'].unique()

In [ ]:
df['Description'].value_counts()

In [ ]:
df['StockCode'].unique()

In [ ]:
df['StockCode'].value_counts()

In [ ]:
for row, index in df.iterrows():
        if np.isnan(df.loc[row, 'Description']):
            print(row)

In [ ]:
filt = df['Description'].isna()
df[filt]['StockCode'].unique()

In [ ]:
filt = df['UnitPrice'] == 0
df[filt]

In [ ]:
list = df['Description'].unique()

In [ ]:
index_map = {value: index for index, value in enumerate(list)}
a = [[] for _ in range(4077)]
for row, index in df.iterrows():
    target_index = index_map.get(df.loc[row, 'Description'])
    b = a[target_index]
    if df.loc[row, 'StockCode'] in b:
        continue
    else:
        a[target_index].append(df.loc[row, 'StockCode'])

In [ ]:
len(a)

In [ ]:
df['StockCode'].value_counts()

In [ ]:
for i in a:
    if len(i) != 1:
        print(i)

In [ ]:
list

In [ ]:
list2 = df['StockCode'].unique()
index_map = {value: index for index, value in enumerate(list2)}
c = [[] for _ in range(3940)]
for row, index in df.iterrows():
    target_index = index_map.get(df.loc[row, 'StockCode'])
    c[target_index].append(row)

In [ ]:
c

In [ ]:
num = [0 for _ in range(3940)]
for i in range(3940):
    current = c[i]
    for j in c[i]:
        num[i] += df.loc[j, 'Quantity']

In [ ]:
num

In [ ]:
largest_five_indices = [index for index, value in sorted(enumerate(num), key=lambda x: x[1], reverse=True)[:5]]

In [ ]:
largest_five_indices

In [ ]:
num[3939]

In [ ]:
num[2928]

In [ ]:
num[169]

In [ ]:
num[1364]

In [ ]:
num[138]

In [ ]:
list2[3939]

In [ ]:
list2[2928]

In [ ]:
list2[169]

In [ ]:
list2[1364]

In [ ]:
list2[138]

In [ ]:
num = [0 for _ in range(3940)]
for i in range(3940):
    current = c[i]
    for j in c[i]:
        num[i] += 1

In [ ]:
num

In [ ]:
largest_five_indices = [index for index, value in sorted(enumerate(num), key=lambda x: x[1], reverse=True)[:5]]

In [ ]:
largest_five_indices

In [ ]:
list2[0]

In [ ]:
list2[138]

In [ ]:
list2[528]

In [ ]:
list2[1636]

In [ ]:
list2[66]

In [ ]:
num[0]

In [ ]:
num[138]

In [ ]:
num[528]

In [ ]:
num[1636]

In [ ]:
num[66]

In [ ]:
len(num)

In [ ]:
import matplotlib.pyplot as plt

# 饼图绘制
plt.figure(figsize=(8, 8))
plt.pie(num)
plt.title('Pie Chart of List Data')
plt.show()

In [ ]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
daily_counts = df.groupby(df['InvoiceDate'].dt.date).size()

In [ ]:
df.loc[204596, 'InvoiceDate']

In [36]:
# 获取当前年份
current_year = 2011

# 筛选出前一年的12月和当年的1月至5月的数据
filtered_data = df[(df['InvoiceDate'].dt.year == current_year - 1) & (df['InvoiceDate'].dt.month == 12) |
                   (df['InvoiceDate'].dt.year == current_year) & (df['InvoiceDate'].dt.month <= 5)]

In [37]:
filtered_data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
209024,555150,22895,SET OF 2 TEA TOWELS APPLE AND PEARS,3,2011-05-31 15:53:00,3.25,NaN,United Kingdom
209025,555150,22983,CARD BILLBOARD FONT,3,2011-05-31 15:53:00,0.42,NaN,United Kingdom
209026,555150,23169,CLASSIC GLASS COOKIE JAR,3,2011-05-31 15:53:00,4.15,NaN,United Kingdom
209027,555150,23298,SPOTTY BUNTING,5,2011-05-31 15:53:00,4.95,NaN,United Kingdom
209028,555150,23118,PARISIENNE JEWELLERY DRAWER,2,2011-05-31 15:53:00,7.50,NaN,United Kingdom

In [49]:
df[(df['InvoiceDate'].dt.year == current_year - 1) & (df['InvoiceDate'].dt.month == 12)]['StockCode'].value_counts()

StockCode
85123A    207
22834     142
22086     141
22423     141
22111     132
         ...
20892       1
20695       1
71215       1
22145       1
47585A      1
Name: count, Length: 2411, dtype: int64

In [50]:
df[df['InvoiceDate'].dt.month == 1]['StockCode'].value_counts()

StockCode
85123A    160
22720     133
22469     120
22423     109
84378      97
         ...
90210A      1
90210C      1
90010B      1
90062       1
84875B      1
Name: count, Length: 2121, dtype: int64

In [51]:
df[df['InvoiceDate'].dt.month == 2]['StockCode'].value_counts()

StockCode
22720     129
85123A    127
22423     111
22469      93
22722      89
         ...
90064B      1
90055       1
22060       1
22871       1
22100       1
Name: count, Length: 2124, dtype: int64

In [52]:
df[df['InvoiceDate'].dt.month == 3]['StockCode'].value_counts()

StockCode
85123A    171
22423     168
22720     156
22993     131
47566     127
         ...
47310M      1
62096B      1
79026B      1
22158       1
90014C      1
Name: count, Length: 2234, dtype: int64

In [53]:
df[df['InvoiceDate'].dt.month == 4]['StockCode'].value_counts()

StockCode
47566     163
85123A    158
22423     157
22084     137
84879     110
         ...
84086B      1
84968B      1
22742       1
84462       1
84827       1
Name: count, Length: 2217, dtype: int64

In [58]:
df[df['InvoiceDate'].dt.month == 5]['StockCode'].value_counts()

StockCode
23298     216
47566     212
85123A    199
22423     171
23206     154
         ...
44234       1
84974       1
90058A      1
82613A      1
84711B      1
Name: count, Length: 2219, dtype: int64

In [55]:
df[df['InvoiceDate'].dt.month == 6]['StockCode'].unique()

array([23299, 22847, 23075, ..., 20765, 22823, 22827], dtype=object)

In [44]:
list = df['CustomerID'].isna()

In [47]:
df = df[~list]

In [48]:
df.to_excel('./handled_data2.xlsx')

In [57]:
print(df)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country
0      2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2      2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
...                    ...        ...         ...             ...
541904 2011-12-09 12:50:00       0.85     12680.0          France
541905 2011-12-09 12:50:00       2.10     12680.0          France
541906 2011-12-09 12:50:00       4.15     12680.0          France
541907 2011-12-09 12:50:00       4.15     12680.0          France
541908 2011-12-09 12:50:00       4.95     12680.0          France

[397924 rows x 8 columns]

In [60]:
filt = (df['StockCode'] == 22783)

In [62]:
df[filt]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
153,536382,22783,SET 3 WICKER OVAL BASKETS W LIDS,4,2010-12-01 09:45:00,16.95,16098.0,United Kingdom
168,536385,22783,SET 3 WICKER OVAL BASKETS W LIDS,1,2010-12-01 09:56:00,19.95,17420.0,United Kingdom
1200,536530,22783,SET 3 WICKER OVAL BASKETS W LIDS,1,2010-12-01 13:21:00,19.95,17905.0,United Kingdom
3417,536627,22783,SET 3 WICKER OVAL BASKETS W LIDS,1,2010-12-02 10:53:00,19.95,15658.0,United Kingdom
28911,538664,22783,SET 3 WICKER OVAL BASKETS W LIDS,8,2010-12-13 15:46:00,7.95,14733.0,United Kingdom
28941,538665,22783,SET 3 WICKER OVAL BASKETS W LIDS,4,2010-12-13 15:56:00,7.95,17576.0,United Kingdom
29223,538714,22783,SET 3 WICKER OVAL BASKETS W LIDS,1,2010-12-14 11:01:00,19.95,14524.0,United Kingdom
29842,538827,22783,SET 3 WICKER OVAL BASKETS W LIDS,8,2010-12-14 12:59:00,7.95,14298.0,United Kingdom
31131,538896,22783,SET 3 WICKER OVAL BASKETS W LIDS,4,2010-12-15 09:09:00,7.95,16145.0,United Kingdom
33343,539250,22783,SET 3 WICKER OVAL BASKETS W LIDS,4,2010-12-16 13:44:00,7.95,15157.0,United Kingdom
33925,539307,22783,SET 3 WICKER OVAL BASKETS W LIDS,4,2010-12-16 17:43:00,7.95,13694.0,United Kingdom
40173,539728,22783,SET 3 WICKER OVAL BASKETS W LIDS,4,2010-12-21 14:26:00,16.95,16270.0,United Kingdom
44566,540182,22783,SET 3 WICKER OVAL BASKETS W LIDS,4,2011-01-05 13:29:00,7.95,14739.0,United Kingdom
44850,540240,22783,SET 3 WICKER OVAL BASKETS W LIDS,4,2011-01-05 15:09:00,7.95,17585.0,United Kingdom
47917,540457,22783,SET 3 WICKER OVAL BASKETS W LIDS,4,2011-01-07 12:26:00,7.95,14217.0,United Kingdom
52107,540687,22783,SET 3 WICKER OVAL BASKETS W LIDS,1,2011-01-10 17:18:00,19.95,15867.0,United Kingdom
52760,540817,22783,SET 3 WICKER OVAL BASKETS W LIDS,2,2011-01-11 12:56:00,19.95,14209.0,United Kingdom
59004,541267,22783,SET 3 WICKER OVAL BASKETS W LIDS,8,2011-01-17 10:37:00,7.95,12779.0,Poland
66277,541789,22783,SET 3 WICKER OVAL BASKETS W LIDS,9,2011-01-21 13:07:00,7.95,14088.0,United Kingdom
69016,541932,22783,SET 3 WICKER OVAL BASKETS W LIDS,4,2011-01-24 11:39:00,7.95,14439.0,Greece
69908,541990,22783,SET 3 WICKER OVAL BASKETS W LIDS,1,2011-01-25 09:01:00,19.95,13901.0,United Kingdom
71480,542131,22783,SET 3 WICKER OVAL BASKETS W LIDS,8,2011-01-25 15:55:00,7.95,16133.0,United Kingdom
72851,542269,22783,SET 3 WICKER OVAL BASKETS W LIDS,2,2011-01-27 09:33:00,19.95,14442.0,Channel Islands
86500,543548,22783,SET 3 WICKER OVAL BASKETS W LIDS,2,2011-02-10 09:21:00,19.95,13706.0,United Kingdom
101251,544909,22783,SET 3 WICKER OVAL BASKETS W LIDS,8,2011-02-24 14:32:00,7.95,14298.0,United Kingdom
103135,545053,22783,SET 3 WICKER OVAL BASKETS W LIDS,1,2011-02-27 12:41:00,19.95,17516.0,United Kingdom
105372,545221,22783,SET 3 WICKER OVAL BASKETS W LIDS,4,2011-03-01 08:35:00,16.95,14740.0,United Kingdom
124608,546983,22783,SET 3 WICKER OVAL BASKETS W LIDS,1,2011-03-18 12:27:00,19.95,16626.0,United Kingdom
191460,553368,22783,SET 3 WICKER OVAL BASKETS W LIDS,80,2011-05-16 14:24:00,16.95,18102.0,United Kingdom
209454,555241,22783,SET 3 WICKER OVAL BASKETS W LIDS,1,2011-06-01 13:32:00,19.95,14377.0,United Kingdom
217183,555920,22783,SET 3 WICKER OVAL BASKETS W LIDS,74,2011-06-07 16:35:00,12.48,18102.0,United Kingdom
225606,556725,22783,SET 3 WICKER OVAL BASKETS W LIDS,200,2011-06-14 11:28:00,12.48,18102.0,United Kingdom

In [70]:
df['StockCode'].value_counts()

StockCode
85123A    2035
22423     1724
85099B    1618
84879     1408
47566     1397
          ...
90168        1
90169        1
90202A       1
90118        1
23843        1
Name: count, Length: 3665, dtype: int64

In [64]:
df[df['InvoiceDate'].dt.month == 5]['CustomerID'].value_counts()

CustomerID
17841.0    635
14911.0    441
12748.0    268
14769.0    264
13263.0    208
          ...
13026.0      1
14931.0      1
16323.0      1
14682.0      1
12891.0      1
Name: count, Length: 1056, dtype: int64

In [66]:
df[df['InvoiceDate'].dt.month == 4]['CustomerID'].value_counts()

CustomerID
17841.0    375
14298.0    338
14911.0    246
13263.0    205
14606.0    203
          ...
12678.0      1
13984.0      1
17809.0      1
17580.0      1
17956.0      1
Name: count, Length: 856, dtype: int64

In [67]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [69]:
df['StockCode'].value_counts()

StockCode
85123A    2035
22423     1724
85099B    1618
84879     1408
47566     1397
          ...
90168        1
90169        1
90202A       1
90118        1
23843        1
Name: count, Length: 3665, dtype: int64

In [74]:
df['CustomerID'].value_counts()

CustomerID
17841.0    7847
14911.0    5677
14096.0    5111
12748.0    4596
14606.0    2700
           ...
15313.0       1
17846.0       1
13185.0       1
16953.0       1
16737.0       1
Name: count, Length: 4339, dtype: int64

In [77]:
filt = (df['CustomerID'] == 17841)

In [78]:
df[filt]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
2037,536557,21495,SKULLS AND CROSSBONES WRAP,25,2010-12-01 14:41:00,0.42,17841.0,United Kingdom
2038,536557,46000R,POLYESTER FILLER PAD 45x30cm,2,2010-12-01 14:41:00,1.45,17841.0,United Kingdom
2039,536557,46000S,POLYESTER FILLER PAD 40x40cm,1,2010-12-01 14:41:00,1.45,17841.0,United Kingdom
2040,536557,22731,3D CHRISTMAS STAMPS STICKERS,1,2010-12-01 14:41:00,1.25,17841.0,United Kingdom
2041,536557,21258,VICTORIAN SEWING BOX LARGE,1,2010-12-01 14:41:00,12.75,17841.0,United Kingdom
...,...,...,...,...,...,...,...,...
537749,581334,23399,HOME SWEET HOME HANGING HEART,3,2011-12-08 12:07:00,0.85,17841.0,United Kingdom
537750,581334,22893,MINI CAKE STAND T-LIGHT HOLDER,12,2011-12-08 12:07:00,0.42,17841.0,United Kingdom
537751,581334,22371,AIRLINE BAG VINTAGE TOKYO 78,1,2011-12-08 12:07:00,4.25,17841.0,United Kingdom
537752,581334,22309,TEA COSY RED STRIPE,1,2011-12-08 12:07:00,2.55,17841.0,United Kingdom
537753,581334,21926,RED/CREAM STRIPE CUSHION COVER,8,2011-12-08 12:07:00,1.25,17841.0,United Kingdom