In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('./数据.xlsx')
df

,id,y,city,mar_status,age,xaccount_age,cred_limit,this_bill_rate,this_bill_mp,last_mp_days,...,consume_num_session6,consume_num_session3,consume_num_session,consume_amt_session12,consume_amt_session6,consume_amt_session3,consume_amt_session,month_avg_use_year,month_avg_use_month6,month_avg_use_month3
0,2,0,52,0,32,10,20000,0.162971,1213.15,15,...,17,12,2,70173.00,29294.00,16773.00,1249.00,0.350865,0.244117,0.279550
1,13,0,84,2,28,17,2500,0.000000,2165.66,9999,...,15,3,0,19515.38,3475.60,3130.88,0.00,0.661538,0.231707,0.417451
2,17,0,35,0,34,17,28500,0.792989,21336.18,9999,...,96,47,15,206655.62,114284.77,78978.75,22600.20,0.731524,0.703291,0.923728
3,22,0,40,0,28,17,5000,1.001600,4668.30,9999,...,37,15,5,227540.00,87870.00,14900.00,5000.00,0.948083,0.976333,0.993333
4,27,0,21,2,26,19,60000,0.990300,56447.10,9999,...,70,57,40,549835.93,290014.88,176430.00,59418.00,0.872755,0.878833,0.980167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9984,1,89,0,34,22,2000,0.449645,628.90,91,...,3,1,1,3690.00,1590.00,590.00,590.00,0.153750,0.132500,0.098333
9996,9989,1,104,0,53,7,2250,0.993333,2123.25,9999,...,10,3,1,6686.40,6686.40,3335.00,2235.00,0.495289,0.495289,0.494074
9997,9990,1,16,0,34,15,50000,0.910246,43095.68,48,...,574,316,99,115663.39,106099.52,60494.63,46174.58,0.192772,0.353665,0.403298
9998,9993,1,72,0,38,7,30000,0.785324,1919.84,60,...,12,6,2,49016.98,41516.98,35927.68,20800.88,0.272317,0.259481,0.399196
9999,9996,1,125,0,32,12,30000,0.331781,3471.77,30,...,8,3,1,87834.88,29252.62,17718.00,6392.00,0.266166,0.162515,0.196867

In [5]:
name = pd.read_excel('./数据字典.xlsx')
name

                      字段名称                  字段解释
0                       id                    id
1                        y         是否办理交易分期（1=是）
2          city                               城市
3               mar_status  婚姻状况（0=未知，1=已婚，2=未婚）
4   age                                       年龄
5    xaccount_age                       账龄（开户月数）
6               cred_limit                    额度
7   this_bill_rate                     本期账单额度使用率
8   this_bill_mp                     本期账单可账单分期金额
9   last_mp_days                   上一次账单分期距离现在天数
10  six_bill_num                     近六个月的所有账单次数
11  six_bill_avg_amt                  近六个月平均账单金额
12  six_cycle_mp_num                  近六个月账单分期次数
13  six_cycle_mp_avg_amt              近六个月账单分期金额
14  six_bill_avg_debt_rate             近六个月平均负债率
15  six_bill_low_repay_num      近六个月还款金额为最低还款的次数
16  six_optial_mp_num                近六个月办理万用金次数
17  six_optial_mp_avg_amt            近六个月办理万用金金额
18  epp_nbr_12m                      近一年办理账单分期次数
19  alop_nbr_12m                     近一年办理alop次数
20  epp_avg_amt_12m                   近一年办理epp均值
21  alop_avg_amt_12m                 近一年办理alop均值
22  consume_num_session12            近一年账单累计消费次数
23  consume_num_session6            近六个月账单累计消费次数
24  consume_num_session3            近三个月账单累计消费次数
25  consume_num_session               本期账单累计消费次数
26  consume_amt_session12            近一年账单累计消费金额
27  consume_amt_session6            近六个月账单累计消费金额
28  consume_amt_session3            近三个月账单累计消费金额
29  consume_amt_session               本期账单累计消费金额
30  month_avg_use_year                近一年月均额度使用率
31  month_avg_use_month6              近半年月均额度使用率
32  month_avg_use_month3             近三个月月均额度使用率

In [8]:
for i in range(len(df)-1):
    if df.loc[i, 'id'] < df.loc[i + 1, 'id']:
        continue
    else:
        print(i)

8004

In [9]:
list = []
for i in range(8005):
    list.append(df.loc[i, 'id'])
list

[2,
 13,
 17,
 22,
 27,
 29,
 32,
 41,
 42,
 49,
 53,
 58,
 63,
 64,
 67,
 71,
 75,
 83,
 91,
 98,
 110,
 111,
 117,
 125,
 127,
 131,
 132,
 137,
 147,
 148,
 153,
 160,
 171,
 172,
 174,
 190,
 192,
 193,
 197,
 201,
 204,
 206,
 211,
 213,
 220,
 224,
 233,
 234,
 237,
 241,
 244,
 245,
 255,
 257,
 259,
 263,
 274,
 277,
 278,
 279,
 281,
 282,
 284,
 287,
 289,
 291,
 303,
 316,
 335,
 337,
 338,
 340,
 341,
 345,
 349,
 350,
 352,
 355,
 356,
 360,
 364,
 369,
 371,
 375,
 376,
 377,
 378,
 402,
 403,
 405,
 407,
 413,
 416,
 420,
 429,
 430,
 447,
 455,
 464,
 467,
 468,
 476,
 478,
 482,
 499,
 500,
 503,
 505,
 507,
 510,
 514,
 518,
 528,
 529,
 532,
 534,
 538,
 539,
 556,
 557,
 558,
 559,
 564,
 565,
 571,
 574,
 575,
 576,
 586,
 591,
 596,
 604,
 610,
 614,
 629,
 632,
 637,
 644,
 654,
 665,
 666,
 669,
 676,
 678,
 679,
 683,
 690,
 694,
 698,
 699,
 704,
 705,
 706,
 711,
 717,
 718,
 728,
 733,
 735,
 736,
 738,
 740,
 742,
 743,
 744,
 749,
 756,
 760,
 761,
 769,
 770,
 775,
 778,
 781,
 787,
 798,
 811,
 815,
 819,
 824,
 825,
 828,
 829,
 830,
 836,
 837,
 840,
 846,
 849,
 851,
 856,
 862,
 864,
 867,
 871,
 872,
 878,
 882,
 892,
 902,
 905,
 906,
 909,
 911,
 915,
 917,
 922,
 925,
 926,
 931,
 934,
 936,
 938,
 945,
 951,
 952,
 954,
 958,
 968,
 976,
 977,
 979,
 985,
 987,
 990,
 992,
 995,
 1000,
 1001,
 1004,
 1005,
 1009,
 1010,
 1011,
 1012,
 1013,
 1016,
 1023,
 1031,
 1037,
 1039,
 1048,
 1054,
 1058,
 1060,
 1070,
 1074,
 1076,
 1096,
 1099,
 1101,
 1102,
 1111,
 1124,
 1130,
 1137,
 1138,
 1141,
 1150,
 1151,
 1152,
 1153,
 1154,
 1157,
 1162,
 1172,
 1174,
 1179,
 1180,
 1183,
 1196,
 1198,
 1199,
 1219,
 1222,
 1224,
 1228,
 1230,
 1235,
 1243,
 1246,
 1247,
 1251,
 1253,
 1271,
 1283,
 1285,
 1290,
 1301,
 1305,
 1308,
 1315,
 1316,
 1317,
 1321,
 1331,
 1335,
 1346,
 1353,
 1356,
 1368,
 1374,
 1378,
 1380,
 1382,
 1391,
 1393,
 1399,
 1405,
 1414,
 1419,
 1421,
 1429,
 1437,
 1444,
 1457,
 1459,
 1478,
 1481,
 1485,
 1501,
 1502,
 1506,
 1507,
 1509,
 1511,
 1515,
 1517,
 1523,
 1532,
 1536,
 1537,
 1559,
 1560,
 1561,
 1566,
 1567,
 1569,
 1572,
 1580,
 1582,
 1586,
 1587,
 1590,
 1594,
 1606,
 1609,
 1615,
 1619,
 1623,
 1629,
 1631,
 1633,
 1634,
 1643,
 1644,
 1650,
 1662,
 1663,
 1664,
 1665,
 1679,
 1683,
 1684,
 1688,
 1689,
 1694,
 1698,
 1699,
 1705,
 1706,
 1716,
 1717,
 1719,
 1727,
 1728,
 1736,
 1737,
 1741,
 1743,
 1754,
 1762,
 1769,
 1776,
 1786,
 1789,
 1792,
 1793,
 1805,
 1815,
 1817,
 1840,
 1841,
 1843,
 1846,
 1847,
 1853,
 1856,
 1876,
 1880,
 1885,
 1886,
 1887,
 1888,
 1890,
 1895,
 1896,
 1901,
 1902,
 1905,
 1921,
 1924,
 1925,
 1930,
 1931,
 1939,
 1940,
 1954,
 1958,
 1968,
 1971,
 1973,
 1976,
 1978,
 1979,
 1984,
 1985,
 1993,
 1994,
 1997,
 2001,
 2013,
 2018,
 2026,
 2029,
 2045,
 2046,
 2050,
 2052,
 2055,
 2057,
 2058,
 2059,
 2063,
 2066,
 2070,
 2079,
 2088,
 2089,
 2092,
 2096,
 2100,
 2104,
 2107,
 2108,
 2110,
 2121,
 2125,
 2128,
 2134,
 2139,
 2143,
 2147,
 2156,
 2188,
 2196,
 2198,
 2201,
 2211,
 2216,
 2219,
 2227,
 2230,
 2231,
 2236,
 2238,
 2242,
 2243,
 2248,
 2250,
 2252,
 2255,
 2257,
 2270,
 2281,
 2286,
 2287,
 2293,
 2302,
 2306,
 2308,
 2312,
 2322,
 2323,
 2326,
 2333,
 2338,
 2340,
 2343,
 2353,
 2360,
 2362,
 2368,
 2370,
 2373,
 2380,
 2386,
 2389,
 2403,
 2426,
 2429,
 2430,
 2434,
 2436,
 2444,
 2451,
 2459,
 2469,
 2473,
 2477,
 2480,
 2481,
 2482,
 2483,
 2484,
 2490,
 2498,
 2506,
 2507,
 2511,
 2512,
 2513,
 2518,
 2526,
 2532,
 2540,
 2547,
 2556,
 2560,
 2563,
 2564,
 2568,
 2569,
 2571,
 2572,
 2576,
 2591,
 2597,
 2603,
 2611,
 2613,
 2616,
 2617,
 2629,
 2639,
 2641,
 2644,
 2665,
 2667,
 2669,
 2670,
 2688,
 2694,
 2695,
 2698,
 2702,
 2710,
 2717,
 2719,
 2732,
 2738,
 2740,
 2741,
 2744,
 2748,
 2753,
 2757,
 2758,
 2782,
 2783,
 2791,
 2797,
 2805,
 2815,
 2816,
 2818,
 2819,
 2824,
 2828,
 2835,
 2839,
 2840,
 2847,
 2849,
 2859,
 2863,
 2865,
 2867,
 2869,
 2879,
 2883,
 2888,
 2895,
 2898,
 2900,
 2905,
 2917,
 2923,
 2926,
 2927,
 2940,
 2944,
 2945,
 2951,
 2954,
 2957,
 2969,
 2971,
 2972,
 2977,
 2978,
 2979,
 2981,
 2984,
 2985,
 2994,
 3000,
 3010,
 3011,
 3016,
 3019,
 3023,
 3028,
 3047,
 3048,
 3052,
 3092,
 3097,
 3101,
 3102,
 3111,
 3113,
 3120,
 3122,
 3123,
 3127,
 3131,
 3132,
 3133,
 3138,
 3144,
 3149,
 3154,
 3158,
 3159,
 3163,
 3165,
 3166,
 3171,
 3176,
 3177,
 3184,
 3189,
 3198,
 3199,
 3204,
 3207,
 3211,
 3213,
 3215,
 3216,
 3218,
 3221,
 3223,
 3228,
 3231,
 3234,
 3244,
 3255,
 3256,
 3258,
 3262,
 3265,
 3269,
 3276,
 3285,
 3291,
 3297,
 3302,
 3309,
 3318,
 3320,
 3324,
 3338,
 3342,
 3364,
 3365,
 3374,
 3381,
 3390,
 3391,
 3402,
 3403,
 3404,
 3410,
 3416,
 3429,
 3433,
 3435,
 3443,
 3444,
 3452,
 3458,
 3469,
 3473,
 3480,
 3483,
 3487,
 3490,
 3494,
 3499,
 3502,
 3520,
 3522,
 3524,
 3525,
 3541,
 3550,
 3556,
 3567,
 3578,
 3582,
 3601,
 3610,
 3612,
 3616,
 3620,
 3627,
 3629,
 3634,
 3636,
 3642,
 3647,
 3656,
 3661,
 3663,
 3669,
 3678,
 3692,
 3700,
 3709,
 3711,
 3715,
 3718,
 3720,
 3721,
 3730,
 3732,
 3737,
 3738,
 3747,
 3749,
 3755,
 3762,
 3764,
 3769,
 3772,
 3774,
 3782,
 3783,
 3784,
 3790,
 3794,
 3800,
 3804,
 3816,
 3820,
 3830,
 3831,
 3832,
 3842,
 3846,
 3854,
 3869,
 3875,
 3884,
 3889,
 3904,
 3906,
 3914,
 3928,
 3930,
 3944,
 3947,
 3968,
 3970,
 3974,
 3979,
 3985,
 3995,
 3997,
 4003,
 4005,
 4010,
 4011,
 4012,
 4015,
 4017,
 4018,
 4019,
 4025,
 4031,
 4035,
 4037,
 4045,
 4057,
 4061,
 4062,
 4065,
 4067,
 4068,
 4073,
 4077,
 4083,
 4084,
 4088,
 4093,
 4102,
 4106,
 4111,
 4113,
 4128,
 4132,
 4136,
 4138,
 4141,
 4144,
 4154,
 4158,
 4164,
 4166,
 4170,
 4174,
 4179,
 4183,
 4186,
 4190,
 4196,
 4200,
 4204,
 4205,
 4209,
 4213,
 4214,
 4222,
 4224,
 4225,
 4233,
 4241,
 4243,
 4245,
 4247,
 4254,
 4256,
 4258,
 4264,
 4267,
 4279,
 4280,
 4284,
 4288,
 4292,
 4296,
 4308,
 4313,
 4314,
 4316,
 4326,
 4335,
 4336,
 4339,
 4340,
 4344,
 4350,
 4352,
 4354,
 4366,
 4380,
 4387,
 4393,
 4395,
 4404,
 4423,
 4429,
 4431,
 4436,
 4437,
 4441,
 4445,
 4450,
 4454,
 4456,
 4461,
 4470,
 4487,
 4488,
 4498,
 4527,
 4531,
 4532,
 4534,
 4543,
 4547,
 4553,
 4561,
 4563,
 4565,
 4567,
 4568,
 4582,
 4584,
 4585,
 4588,
 4590,
 4594,
 4595,
 4596,
 4603,
 4614,
 4621,
 4622,
 4629,
 4637,
 4642,
 4643,
 4645,
 4650,
 4658,
 4661,
 4662,
 4664,
 4665,
 4669,
 4673,
 4674,
 4675,
 4676,
 4677,
 4695,
 4696,
 4734,
 4735,
 4736,
 4738,
 4748,
 4751,
 4754,
 4755,
 4762,
 4776,
 4779,
 4786,
 4797,
 4809,
 4812,
 4813,
 4819,
 4833,
 4835,
 4836,
 4841,
 4845,
 4849,
 4853,
 4862,
 4877,
 4880,
 4888,
 4893,
 4904,
 4906,
 4918,
 4919,
 4927,
 4930,
 4932,
 4933,
 4938,
 4939,
 4944,
 4956,
 4965,
 4967,
 4968,
 4977,
 4981,
 4985,
 4993,
 4994,
 5000,
 ...]

In [10]:
list2 = []
for i in range(8005, 10000):
    if df.loc[i, 'id'] in list:
        list2.append(df.loc[i, 'id'])
list2

[13,
 32,
 63,
 67,
 125,
 147,
 241,
 257,
 277,
 287,
 316,
 338,
 341,
 369,
 371,
 376,
 447,
 455,
 514,
 532,
 571,
 586,
 604,
 665,
 690,
 699,
 718,
 738,
 749,
 756,
 760,
 761,
 769,
 770,
 825,
 828,
 846,
 871,
 951,
 979,
 992,
 1004,
 1011,
 1012,
 1037,
 1054,
 1060,
 1102,
 1124,
 1130,
 1150,
 1152,
 1157,
 1172,
 1180,
 1199,
 1235,
 1243,
 1251,
 1271,
 1301,
 1315,
 1380,
 1391,
 1399,
 1405,
 1481,
 1509,
 1517,
 1582,
 1609,
 1619,
 1683,
 1684,
 1706,
 1716,
 1719,
 1728,
 1841,
 1888,
 1902,
 1925,
 1958,
 1973,
 1978,
 1979,
 1993,
 2018,
 2059,
 2066,
 2100,
 2134,
 2147,
 2201,
 2216,
 2227,
 2236,
 2238,
 2243,
 2248,
 2281,
 2302,
 2322,
 2389,
 2426,
 2430,
 2436,
 2444,
 2451,
 2459,
 2473,
 2480,
 2484,
 2498,
 2507,
 2513,
 2540,
 2560,
 2564,
 2597,
 2639,
 2665,
 2710,
 2782,
 2791,
 2805,
 2815,
 2839,
 2883,
 2917,
 2971,
 2972,
 3011,
 3048,
 3111,
 3113,
 3163,
 3198,
 3228,
 3255,
 3256,
 3309,
 3320,
 3342,
 3381,
 3390,
 3429,
 3443,
 3473,
 3525,
 3612,
 3627,
 3629,
 3709,
 3715,
 3747,
 3769,
 3782,
 3790,
 3794,
 3875,
 3930,
 3968,
 4011,
 4018,
 4035,
 4037,
 4068,
 4093,
 4106,
 4141,
 4144,
 4205,
 4209,
 4258,
 4308,
 4313,
 4316,
 4380,
 4404,
 4441,
 4532,
 4534,
 4565,
 4588,
 4594,
 4603,
 4643,
 4645,
 4658,
 4665,
 4669,
 4674,
 4779,
 4809,
 4819,
 4833,
 4904,
 4919,
 4938,
 4968,
 4985,
 4994,
 5120,
 5126,
 5155,
 5162,
 5190,
 5205,
 5231,
 5232,
 5276,
 5278,
 5305,
 5378,
 5412,
 5438,
 5449,
 5464,
 5494,
 5505,
 5507,
 5511,
 5519,
 5548,
 5551,
 5556,
 5600,
 5610,
 5736,
 5743,
 5752,
 5766,
 5782,
 5800,
 5804,
 5808,
 5839,
 5841,
 5886,
 5896,
 5913,
 5960,
 5968,
 6000,
 6016,
 6027,
 6032,
 6035,
 6045,
 6115,
 6134,
 6187,
 6188,
 6203,
 6249,
 6252,
 6259,
 6282,
 6294,
 6305,
 6324,
 6449,
 6493,
 6523,
 6525,
 6540,
 6555,
 6625,
 6639,
 6723,
 6742,
 6770,
 6772,
 6773,
 6789,
 6819,
 6834,
 6850,
 6853,
 6892,
 6928,
 6952,
 6956,
 6965,
 6973,
 6978,
 6984,
 7026,
 7044,
 7090,
 7118,
 7141,
 7144,
 7146,
 7148,
 7193,
 7199,
 7259,
 7266,
 7287,
 7289,
 7354,
 7375,
 7396,
 7412,
 7466,
 7475,
 7487,
 7510,
 7544,
 7571,
 7572,
 7574,
 7575,
 7612,
 7636,
 7656,
 7663,
 7693,
 7697,
 7715,
 7722,
 7732,
 7751,
 7800,
 7802,
 7823,
 7867,
 7870,
 7886,
 7894,
 7897,
 7898,
 7906,
 7907,
 7908,
 7950,
 7970,
 7989,
 8028,
 8053,
 8091,
 8094,
 8096,
 8122,
 8131,
 8164,
 8192,
 8211,
 8236,
 8239,
 8247,
 8281,
 8300,
 8318,
 8319,
 8338,
 8412,
 8441,
 8451,
 8458,
 8460,
 8461,
 8466,
 8476,
 8518,
 8535,
 8581,
 8604,
 8633,
 8684,
 8712,
 8743,
 8758,
 8769,
 8780,
 8857,
 8867,
 8876,
 8922,
 8942,
 8944,
 8950,
 8975,
 8985,
 9062,
 9150,
 9187,
 9191,
 9195,
 9218,
 9238,
 9264,
 9265,
 9273,
 9296,
 9299,
 9340,
 9376,
 9442,
 9469,
 9556,
 9661,
 9759,
 9799,
 9833,
 9837,
 9850,
 9876,
 9938,
 9962,
 9972,
 9989]

In [11]:
len(list2)

414

In [18]:
filt = ((df['y'] == 0) & (df['id'].isin(list2)))
df.drop(index=df[filt].index, inplace=True)
df

,id,y,city,mar_status,age,xaccount_age,cred_limit,this_bill_rate,this_bill_mp,last_mp_days,...,consume_num_session6,consume_num_session3,consume_num_session,consume_amt_session12,consume_amt_session6,consume_amt_session3,consume_amt_session,month_avg_use_year,month_avg_use_month6,month_avg_use_month3
0,2,0,52,0,32,10,20000,0.162971,1213.15,15,...,17,12,2,70173.00,29294.00,16773.00,1249.00,0.350865,0.244117,0.279550
2,17,0,35,0,34,17,28500,0.792989,21336.18,9999,...,96,47,15,206655.62,114284.77,78978.75,22600.20,0.731524,0.703291,0.923728
3,22,0,40,0,28,17,5000,1.001600,4668.30,9999,...,37,15,5,227540.00,87870.00,14900.00,5000.00,0.948083,0.976333,0.993333
4,27,0,21,2,26,19,60000,0.990300,56447.10,9999,...,70,57,40,549835.93,290014.88,176430.00,59418.00,0.872755,0.878833,0.980167
5,29,0,1,1,36,138,46000,0.418607,12171.30,17,...,50,9,4,361647.76,197082.29,106119.00,28091.00,0.655159,0.714066,0.768978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9984,1,89,0,34,22,2000,0.449645,628.90,91,...,3,1,1,3690.00,1590.00,590.00,590.00,0.153750,0.132500,0.098333
9996,9989,1,104,0,53,7,2250,0.993333,2123.25,9999,...,10,3,1,6686.40,6686.40,3335.00,2235.00,0.495289,0.495289,0.494074
9997,9990,1,16,0,34,15,50000,0.910246,43095.68,48,...,574,316,99,115663.39,106099.52,60494.63,46174.58,0.192772,0.353665,0.403298
9998,9993,1,72,0,38,7,30000,0.785324,1919.84,60,...,12,6,2,49016.98,41516.98,35927.68,20800.88,0.272317,0.259481,0.399196
9999,9996,1,125,0,32,12,30000,0.331781,3471.77,30,...,8,3,1,87834.88,29252.62,17718.00,6392.00,0.266166,0.162515,0.196867

In [19]:
len(df)

9586

In [22]:
df.reset_index(inplace=True)

In [24]:
df

,index,id,y,city,mar_status,age,xaccount_age,cred_limit,this_bill_rate,this_bill_mp,...,consume_num_session6,consume_num_session3,consume_num_session,consume_amt_session12,consume_amt_session6,consume_amt_session3,consume_amt_session,month_avg_use_year,month_avg_use_month6,month_avg_use_month3
0,0,2,0,52,0,32,10,20000,0.162971,1213.15,...,17,12,2,70173.00,29294.00,16773.00,1249.00,0.350865,0.244117,0.279550
1,2,17,0,35,0,34,17,28500,0.792989,21336.18,...,96,47,15,206655.62,114284.77,78978.75,22600.20,0.731524,0.703291,0.923728
2,3,22,0,40,0,28,17,5000,1.001600,4668.30,...,37,15,5,227540.00,87870.00,14900.00,5000.00,0.948083,0.976333,0.993333
3,4,27,0,21,2,26,19,60000,0.990300,56447.10,...,70,57,40,549835.93,290014.88,176430.00,59418.00,0.872755,0.878833,0.980167
4,5,29,0,1,1,36,138,46000,0.418607,12171.30,...,50,9,4,361647.76,197082.29,106119.00,28091.00,0.655159,0.714066,0.768978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9581,9995,9984,1,89,0,34,22,2000,0.449645,628.90,...,3,1,1,3690.00,1590.00,590.00,590.00,0.153750,0.132500,0.098333
9582,9996,9989,1,104,0,53,7,2250,0.993333,2123.25,...,10,3,1,6686.40,6686.40,3335.00,2235.00,0.495289,0.495289,0.494074
9583,9997,9990,1,16,0,34,15,50000,0.910246,43095.68,...,574,316,99,115663.39,106099.52,60494.63,46174.58,0.192772,0.353665,0.403298
9584,9998,9993,1,72,0,38,7,30000,0.785324,1919.84,...,12,6,2,49016.98,41516.98,35927.68,20800.88,0.272317,0.259481,0.399196
9585,9999,9996,1,125,0,32,12,30000,0.331781,3471.77,...,8,3,1,87834.88,29252.62,17718.00,6392.00,0.266166,0.162515,0.196867

In [25]:
df.drop(columns='index', inplace=True)
df

,id,y,city,mar_status,age,xaccount_age,cred_limit,this_bill_rate,this_bill_mp,last_mp_days,...,consume_num_session6,consume_num_session3,consume_num_session,consume_amt_session12,consume_amt_session6,consume_amt_session3,consume_amt_session,month_avg_use_year,month_avg_use_month6,month_avg_use_month3
0,2,0,52,0,32,10,20000,0.162971,1213.15,15,...,17,12,2,70173.00,29294.00,16773.00,1249.00,0.350865,0.244117,0.279550
1,17,0,35,0,34,17,28500,0.792989,21336.18,9999,...,96,47,15,206655.62,114284.77,78978.75,22600.20,0.731524,0.703291,0.923728
2,22,0,40,0,28,17,5000,1.001600,4668.30,9999,...,37,15,5,227540.00,87870.00,14900.00,5000.00,0.948083,0.976333,0.993333
3,27,0,21,2,26,19,60000,0.990300,56447.10,9999,...,70,57,40,549835.93,290014.88,176430.00,59418.00,0.872755,0.878833,0.980167
4,29,0,1,1,36,138,46000,0.418607,12171.30,17,...,50,9,4,361647.76,197082.29,106119.00,28091.00,0.655159,0.714066,0.768978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9581,9984,1,89,0,34,22,2000,0.449645,628.90,91,...,3,1,1,3690.00,1590.00,590.00,590.00,0.153750,0.132500,0.098333
9582,9989,1,104,0,53,7,2250,0.993333,2123.25,9999,...,10,3,1,6686.40,6686.40,3335.00,2235.00,0.495289,0.495289,0.494074
9583,9990,1,16,0,34,15,50000,0.910246,43095.68,48,...,574,316,99,115663.39,106099.52,60494.63,46174.58,0.192772,0.353665,0.403298
9584,9993,1,72,0,38,7,30000,0.785324,1919.84,60,...,12,6,2,49016.98,41516.98,35927.68,20800.88,0.272317,0.259481,0.399196
9585,9996,1,125,0,32,12,30000,0.331781,3471.77,30,...,8,3,1,87834.88,29252.62,17718.00,6392.00,0.266166,0.162515,0.196867

In [26]:
value_counts = df['city'].value_counts()
value_counts

city
1      633
16     417
84     372
46     331
121    330
      ...
123      6
31       4
134      3
137      2
82       2
Name: count, Length: 140, dtype: int64

In [28]:
value_counts_df = value_counts.reset_index()
value_counts_df.to_excel('./city_data.xlsx')

In [29]:
df.describe()

,id,y,city,mar_status,age,xaccount_age,cred_limit,this_bill_rate,this_bill_mp,last_mp_days,...,consume_num_session6,consume_num_session3,consume_num_session,consume_amt_session12,consume_amt_session6,consume_amt_session3,consume_amt_session,month_avg_use_year,month_avg_use_month6,month_avg_use_month3
count,9586.000000,9586.000000,9586.000000,9586.000000,9586.000000,9586.000000,9586.000000,9586.000000,9586.000000,9586.000000,...,9586.000000,9586.000000,9586.000000,9.586000e+03,9.586000e+03,9.586000e+03,9586.000000,9586.000000,9586.000000,9586.000000
mean,17407.288963,0.208116,60.835802,0.674630,33.783851,23.319424,28207.754747,0.484072,10350.697837,6481.344982,...,39.090653,22.223138,8.500104,7.787253e+04,4.657089e+04,2.609166e+04,10028.609751,0.417999,0.419241,0.423327
std,11896.746376,0.405981,42.870351,0.929445,7.970801,25.992535,36281.621857,0.478917,16465.242573,4675.804474,...,80.137408,45.614732,17.471797,1.487754e+05,8.368861e+04,4.586500e+04,17378.208793,0.666362,0.733740,0.498816
min,0.000000,0.000000,0.000000,0.000000,19.000000,1.000000,1.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,6723.750000,0.000000,18.000000,0.000000,28.000000,7.000000,6500.000000,0.113380,1615.095000,270.000000,...,6.000000,3.000000,1.000000,9.968250e+03,6.503918e+03,3.540875e+03,980.000000,0.149661,0.135103,0.109368
50%,15955.000000,0.000000,58.000000,0.000000,32.000000,14.000000,18250.000000,0.390353,4710.905000,9999.000000,...,15.000000,8.000000,3.000000,3.118528e+04,2.000000e+04,1.164859e+04,4007.855000,0.333157,0.328164,0.331909
75%,27667.750000,0.000000,96.000000,2.000000,38.000000,23.000000,35000.000000,0.836714,13337.100000,9999.000000,...,38.000000,21.000000,8.000000,8.679100e+04,5.400607e+04,3.174997e+04,12500.000000,0.611760,0.628964,0.662721
max,39992.000000,1.000000,139.000000,2.000000,74.000000,145.000000,500000.000000,16.979243,466918.000000,9999.000000,...,1689.000000,904.000000,271.000000,3.956771e+06,2.655518e+06,1.451518e+06,492018.000000,48.107143,56.125000,25.833333

In [30]:
mar_status = df['mar_status'].value_counts()
mar_status

mar_status
0    6207
2    3088
1     291
Name: count, dtype: int64

In [32]:
df.to_excel('./handledData.xlsx')

In [33]:
last_mp_days = df['last_mp_days'].value_counts()
last_mp_days

last_mp_days
9999    6115
30       431
60       195
91       108
119       97
        ...
522        1
1058       1
776        1
1572       1
1053       1
Name: count, Length: 752, dtype: int64

In [34]:
filt = (df['y'] == 0)
df1 = df.loc[filt]
df1

,id,y,city,mar_status,age,xaccount_age,cred_limit,this_bill_rate,this_bill_mp,last_mp_days,...,consume_num_session6,consume_num_session3,consume_num_session,consume_amt_session12,consume_amt_session6,consume_amt_session3,consume_amt_session,month_avg_use_year,month_avg_use_month6,month_avg_use_month3
0,2,0,52,0,32,10,20000,0.162971,1213.15,15,...,17,12,2,70173.00,29294.00,16773.00,1249.00,0.350865,0.244117,0.279550
1,17,0,35,0,34,17,28500,0.792989,21336.18,9999,...,96,47,15,206655.62,114284.77,78978.75,22600.20,0.731524,0.703291,0.923728
2,22,0,40,0,28,17,5000,1.001600,4668.30,9999,...,37,15,5,227540.00,87870.00,14900.00,5000.00,0.948083,0.976333,0.993333
3,27,0,21,2,26,19,60000,0.990300,56447.10,9999,...,70,57,40,549835.93,290014.88,176430.00,59418.00,0.872755,0.878833,0.980167
4,29,0,1,1,36,138,46000,0.418607,12171.30,17,...,50,9,4,361647.76,197082.29,106119.00,28091.00,0.655159,0.714066,0.768978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7586,39944,0,33,0,26,7,9500,0.972316,8774.88,9999,...,14,8,1,35835.72,32724.21,16218.00,9237.00,0.731341,0.761028,0.648720
7587,39959,0,1,2,35,95,14000,0.061124,1859.08,2388,...,0,0,0,0.00,0.00,0.00,0.00,0.000000,0.000000,0.000000
7588,39961,0,4,0,30,20,35000,0.068721,2284.98,207,...,74,34,16,111842.38,72254.87,31895.10,2385.24,0.319550,0.361274,0.303763
7589,39989,0,126,2,24,10,2000,0.000000,1628.52,9999,...,1,0,0,3999.00,2000.00,0.00,0.00,0.249938,0.166667,0.000000
7590,39992,0,18,0,29,2,20000,0.986600,18745.40,9999,...,5,5,4,19753.88,19753.88,19753.88,19724.00,0.493847,0.493847,0.493847

In [35]:
df1.describe()

,id,y,city,mar_status,age,xaccount_age,cred_limit,this_bill_rate,this_bill_mp,last_mp_days,...,consume_num_session6,consume_num_session3,consume_num_session,consume_amt_session12,consume_amt_session6,consume_amt_session3,consume_amt_session,month_avg_use_year,month_avg_use_month6,month_avg_use_month3
count,7591.000000,7591.0,7591.000000,7591.000000,7591.000000,7591.000000,7591.000000,7591.000000,7591.000000,7591.000000,...,7591.000000,7591.000000,7591.000000,7.591000e+03,7.591000e+03,7.591000e+03,7591.000000,7591.000000,7591.000000,7591.000000
mean,20659.067448,0.0,60.598867,0.655908,33.881570,23.757081,27302.889870,0.472998,9927.900399,7232.467923,...,39.619945,22.480174,8.430905,7.699536e+04,4.572183e+04,2.550844e+04,9495.398193,0.427863,0.428822,0.431147
std,11214.197328,0.0,42.869363,0.922364,7.875418,26.304325,35736.394115,0.501338,15833.908068,4361.920909,...,84.091175,47.707120,17.853324,1.484236e+05,8.299047e+04,4.530956e+04,16784.082700,0.733577,0.809599,0.535563
min,2.000000,0.0,0.000000,0.000000,19.000000,1.000000,1.000000,0.000000,0.000000,4.000000,...,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,11406.000000,0.0,18.000000,0.000000,28.000000,7.000000,6000.000000,0.088655,1450.890000,865.000000,...,6.000000,3.000000,1.000000,9.269000e+03,6.010400e+03,3.157770e+03,697.975000,0.146049,0.128511,0.094988
50%,20999.000000,0.0,58.000000,0.000000,32.000000,14.000000,16500.000000,0.362090,4493.500000,9999.000000,...,15.000000,8.000000,3.000000,3.035949e+04,1.949324e+04,1.115585e+04,3686.860000,0.341267,0.337389,0.339176
75%,30095.000000,0.0,96.000000,2.000000,38.000000,23.000000,33500.000000,0.850000,13112.855000,9999.000000,...,37.000000,20.000000,8.000000,8.579302e+04,5.368400e+04,3.168698e+04,11998.500000,0.640959,0.661208,0.677645
max,39992.000000,0.0,139.000000,2.000000,74.000000,145.000000,500000.000000,16.979243,466918.000000,9999.000000,...,1689.000000,904.000000,271.000000,3.956771e+06,2.655518e+06,1.451518e+06,492018.000000,48.107143,56.125000,25.833333

In [36]:
filt = (df['y'] == 1)
df2 = df.loc[filt]
df2

,id,y,city,mar_status,age,xaccount_age,cred_limit,this_bill_rate,this_bill_mp,last_mp_days,...,consume_num_session6,consume_num_session3,consume_num_session,consume_amt_session12,consume_amt_session6,consume_amt_session3,consume_amt_session,month_avg_use_year,month_avg_use_month6,month_avg_use_month3
7591,0,1,26,0,54,4,6000,0.286285,1145.66,30,...,5,2,1,7380.50,7380.50,1710.00,1198.00,0.307521,0.307521,0.095000
7592,8,1,70,0,34,6,20000,0.727625,10685.60,9999,...,8,5,2,45413.00,45413.00,25586.00,11240.00,0.378442,0.378442,0.426433
7593,9,1,115,0,30,15,15000,0.455937,4047.43,60,...,31,15,4,41302.65,21854.58,10647.00,5555.00,0.229459,0.242829,0.236600
7594,13,1,46,0,50,10,15000,0.275994,1842.62,15,...,22,15,4,47115.60,20640.87,10144.59,1915.60,0.314104,0.229343,0.225435
7595,31,1,88,0,31,15,30000,0.831862,9199.06,30,...,40,19,9,157826.20,89330.00,41330.00,23230.00,0.493207,0.496278,0.459222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9581,9984,1,89,0,34,22,2000,0.449645,628.90,91,...,3,1,1,3690.00,1590.00,590.00,590.00,0.153750,0.132500,0.098333
9582,9989,1,104,0,53,7,2250,0.993333,2123.25,9999,...,10,3,1,6686.40,6686.40,3335.00,2235.00,0.495289,0.495289,0.494074
9583,9990,1,16,0,34,15,50000,0.910246,43095.68,48,...,574,316,99,115663.39,106099.52,60494.63,46174.58,0.192772,0.353665,0.403298
9584,9993,1,72,0,38,7,30000,0.785324,1919.84,60,...,12,6,2,49016.98,41516.98,35927.68,20800.88,0.272317,0.259481,0.399196
9585,9996,1,125,0,32,12,30000,0.331781,3471.77,30,...,8,3,1,87834.88,29252.62,17718.00,6392.00,0.266166,0.162515,0.196867

In [38]:
df2.describe()

,id,y,city,mar_status,age,xaccount_age,cred_limit,this_bill_rate,this_bill_mp,last_mp_days,...,consume_num_session6,consume_num_session3,consume_num_session,consume_amt_session12,consume_amt_session6,consume_amt_session3,consume_amt_session,month_avg_use_year,month_avg_use_month6,month_avg_use_month3
count,1995.000000,1995.0,1995.000000,1995.000000,1995.000000,1995.000000,1995.000000,1995.000000,1995.000000,1995.000000,...,1995.000000,1995.000000,1995.000000,1.995000e+03,1.995000e+03,1995.000000,1995.000000,1995.000000,1995.000000,1995.000000
mean,5034.231078,1.0,61.737343,0.745865,33.412030,21.654135,31650.776942,0.526210,11959.447388,3623.312782,...,37.076692,21.245113,8.763409,8.121016e+04,4.980159e+04,28310.812030,12057.486411,0.380464,0.382783,0.393571
std,2867.646064,0.0,42.872887,0.952785,8.315292,24.705886,38098.590011,0.378908,18590.028022,4727.777760,...,62.837172,36.568790,15.938264,1.500971e+05,8.623831e+04,47866.410124,19344.524070,0.290359,0.302197,0.321155
min,0.000000,1.0,0.000000,0.000000,19.000000,1.000000,2000.000000,0.000000,450.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2507.500000,1.0,19.000000,0.000000,27.000000,6.000000,8000.000000,0.233150,1974.420000,30.000000,...,8.000000,4.000000,2.000000,1.223865e+04,8.324050e+03,4916.920000,2000.000000,0.159040,0.150011,0.143480
50%,5171.000000,1.0,59.000000,0.000000,32.000000,12.000000,20000.000000,0.443801,5451.160000,150.000000,...,18.000000,9.000000,4.000000,3.351713e+04,2.182310e+04,12872.480000,5500.000000,0.306112,0.298056,0.301500
75%,7522.500000,1.0,96.000000,2.000000,38.000000,22.000000,40500.000000,0.804148,14208.095000,9999.000000,...,40.000000,22.000000,9.000000,9.027444e+04,5.482775e+04,32138.650000,14066.630000,0.517112,0.524563,0.561955
max,9996.000000,1.0,139.000000,2.000000,62.000000,121.000000,300000.000000,4.369665,189947.160000,9999.000000,...,835.000000,424.000000,257.000000,2.303081e+06,1.191000e+06,597053.150000,199598.000000,2.559054,2.913479,2.512912

In [ ]:
import random

In [ ]:
random.randint(0, 4)

In [1]:
part1 = np.array([i for i in range(1, 21)])
part1

NameError: name 'np' is not defined